<div class="dropdown" [class.expanded]="expanded" [class.disabled]="disabled" [class.active]="value !== null">
    <div class="dropbtn" (click)="onClick($event)">
        <label class="placeholder" *ngIf="value === null">
            {{ placeholder }}
        </label>
        <span *ngIf="value !== null">
            {{ value[optionLabel] }}
        </span>
        <div class="dropdown-actions flex gap-2">
            <button class="icon-btn text-btn" *ngIf="showClear && value !== null" (click)="clear($event)">
                <i class="material-symbols-rounded">close</i>
            </button>
            <i class="material-symbols-rounded expand-arrow">arrow_drop_down</i>
        </div>
    </div>

    <div class="dropdown-content">
        <div class="dropdown-item" ripple *ngFor="let option of options" (click)="selectItem(option)" [class.selected]="option.selected">
            <i class="material-symbols-rounded" *ngIf="multiple && option.selected">check</i>
            <i class="material-symbols-rounded" *ngIf="multiple && !option.selected">check_box_outline_blank</i>
            <i class="material-symbols-rounded" *ngIf="option[optionIcon] !== ''">{{ option[optionIcon] }}</i>
            {{ option[optionLabel] }}
        </div>
    </div>
</div>
