<div class="input-container" [class.gap-0]="label === '' && icon === ''" [class.align-items-center]="label === '' && !required"
     [class.flex-row]="label === '' && !required" [class.disabled]="disabled" [class.active]="isFocused || value.length !== 0"
     [class.error]="error">
    <div class="label-container">
        <i class="material-symbols-rounded" *ngIf="icon.length > 0">{{ icon }}</i>
        <label class="floating-label" *ngIf="label !== ''">
            {{ label }}
        </label>
        <span class="required-asterisk" *ngIf="required">*</span>
    </div>
    <div class="input-container">
        <input #inputRef [type]="inputType" [class.small]="small" [ngModel]="value" name="{{ name }}"
               [disabled]="disabled" (focus)="onFocus()" (blur)="onBlur()" [placeholder]="placeholder"
               (ngModelChange)="verifyInput(); valueChange.emit($event)"/>
        <div class="input-actions" *ngIf="showClear && value.length !== 0">
            <button class="icon-btn" (click)="clear()">
                <i class="material-symbols-rounded">close</i>
            </button>
        </div>
    </div>
    <div class="input-helpers" *ngIf="helperText.length > 0 || showCounter || maxLength > 0" [class.error]="error">
        <span class="helper-text">{{ helperText }}</span>

        <div class="counter-container">
            <span class="counter-text" *ngIf="showCounter">{{ value.length }}</span>
            <span class="counter-text" *ngIf="showCounter && maxLength > 0">/</span>
            <span class="counter-text" *ngIf="maxLength > 0">{{ maxLength }}</span>
        </div>
    </div>
</div>
