<div class="input-container" [class.disabled]="disabled" [class.active]="isFocused || value.length !== 0"
    [class.error]="error">
    <div class="input-text-container gap-4 align-items-center justify-content-between">
        <div class="flex gap-4 w-full">
            <i class="material-symbols-rounded text-white" *ngIf="icon.length > 0">{{ icon }}</i>
            <div class="flex flex-column gap-2 w-full">
                <label class="floating-label">
                    {{ placeholder }}
                    <span class="required-asterisk" *ngIf="required">*</span>
                </label>
                <input #inputRef [type]="inputType" class="input" [ngModel]="value"
                    (ngModelChange)="valueChange.emit($event)" name="{{ name }}" [disabled]="disabled"
                    (focus)="onFocus()" (blur)="onBlur()" (ngModelChange)="verifyInput()" />
            </div>
        </div>
        <div class="input-actions" *ngIf="showClear && value.length !== 0">
            <button class="icon-btn" (click)="clear()">
                <i class="material-symbols-rounded">close</i>
            </button>
        </div>
    </div>
</div>
<div class="input-helpers" *ngIf="helperText.length > 0 || showCounter || maxLength > 0" [class.error]="error">
    <span class="helper-text">{{ helperText }}</span>

    <div class="counter-container">
        <span class="counter-text" *ngIf="showCounter">{{ value.length }}</span>
        <span class="counter-text" *ngIf="showCounter && maxLength > 0">/</span>
        <span class="counter-text" *ngIf="maxLength > 0">{{ maxLength }}</span>
    </div>
</div>
