<div class="flex-row-fluid mt-5 fadein" *ngIf="task != null">
    <form #manageTaskForm="ngForm" class="grid grid-nogutter" (ngSubmit)="save()">
        <div class="col-12 lg:col-3 pr-0 pb-5 lg-pr-5 flex flex-column gap-3">
            <div class="card card-flush py-3">
                <div class="card-header">
                    <h2 class="title">Status</h2>
                    <div class="card-toolbar">
                        <div class="border-circle w-15px h-15px bg-{{task.status.type}}">
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <mat-dropdown class="mb-2" [options]="statusList" [optionLabel]="'name'"
                                  [value]="task.status.value" [returnValue]="false"
                                  (valueChange)="task.status = $event"></mat-dropdown>
                    <span class="text-500 fs-7">
                        Set the task status.
                    </span>
                </div>
            </div>
            <div class="card card-flush py-3">
                <div class="card-header">
                    <h2 class="title">Due Date</h2>
                </div>
                <div class="card-body pt-0">
                    <mat-calendar [value]="task.dueDate"
                                  (valueChange)="task.dueDate = $event"></mat-calendar>
                    <span class="text-500 fs-7">
                        Set the task due date.
                    </span>
                </div>
            </div>
            <div class="card card-flush py-3">
                <div class="card-header">
                    <h2 class="title">Urgency</h2>
                    <div class="card-toolbar">
                        <div class="border-circle w-15px h-15px bg-{{task.urgency.color}}">
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <mat-dropdown class="mb-2" [options]="urgencyList" [optionLabel]="'title'" [optionValue]="'code'"
                                  [value]="task.urgency.code" [returnValue]="false"
                                  (valueChange)="task.urgency = $event"></mat-dropdown>
                    <span class="text-500 fs-7">
                        Set the task urgency.
                    </span>
                </div>
            </div>
            <div class="card card-flush py-3" *ngIf="members.length > 0">
                <div class="card-header">
                    <h2 class="title">Assign To</h2>
                </div>
                <div class="card-body pt-0">
                    <mat-dropdown class="mb-2" [options]="members" [optionLabel]="'username'"
                                  [optionValue]="'uid'"
                                  [value]="task.assignees.uid" [returnValue]="false"
                                  (valueChange)="task.assignees = $event"></mat-dropdown>
                    <span class="text-500 fs-7">
                        Assign the task to a team member.
                    </span>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-9 pl-0 pb-3 lg:pl-5 flex flex-column gap-3">
            <div class="card card-flush py-3">
                <div class="card-header">
                    <h2 class="title">General</h2>
                </div>
                <div class="card-body pt-0">
                    <div class="form-group mb-5">
                        <label for="taskTitle" class="required">Task Name</label>
                        <input
                            type="text"
                            id="taskTitle"
                            name="title"
                            required
                            [(ngModel)]="task.title"/>
                        <span class="text-500 fs-7">
                            A task name should be short and descriptive.
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="taskDescription" class="fw-medium">Description</label>
                        <textarea
                            id="taskDescription"
                            name="description"
                            [(ngModel)]="task.description"></textarea>
                        <span class="text-500 fs-7">
                            Describe the task in detail.
                        </span>
                    </div>
                </div>
            </div>
            <div class="card card-flush py-3">
                <div class="card-header">
                    <h2 class="title">Subtasks</h2>
                </div>
                <div class="card-body pt-0">
                    <div class="flex flex-column gap-2">
                        <div class="subtask flex align-items-center gap-3"
                             *ngFor="let subtask of task.subtasks">
                            <div class="subtask-check pl-1" [class.checked]="subtask.checked"
                                 (click)="subtask.checked = !subtask.checked">
                                <i class="fa-regular fa-square fs-1"></i>
                                <i class="fa-regular fa-square-check fs-1"></i>
                            </div>
                            <input type="text" [(ngModel)]="subtask.title" [name]="subtask.id" class="flex flex-1"/>
                            <button class="btn-icon btn-light-danger btn-sm" type="button"
                                    (click)="removeSubtask(subtask)">
                                <i class="fa-regular fa-xmark"></i>
                            </button>
                        </div>
                    </div>
                    <button class="btn btn-light-primary btn-sm" [class.mt-3]="task.subtasks.length > 0"
                            type="button" (click)="addSubtask()">
                        <i class="fa-duotone fa-plus"></i>
                        Add Subtask
                    </button>
                </div>
            </div>
            <div class="flex justify-content-between mt-3">
                <button type="button" class="btn btn-danger" *ngIf="task.id" (click)="confirmDeleteTask($event)">
                    <i class="fa-duotone fa-trash-alt"></i>
                    Delete Task
                </button>
                <div *ngIf="!task.id"></div>

                <div class="flex align-items-center gap-3">
                    <button type="button" class="btn btn-text" (click)="cancel()">
                        <i class="fa-duotone fa-times"></i>
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-primary" [disabled]="manageTaskForm.invalid">
                        <i class="fa-duotone fa-save"></i>
                        Save Changes
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<p-confirmPopup></p-confirmPopup>
