<div class="container flex flex-1 flex-column gap-3" [busyIf]="loading">
    <div class="grid">
        <div class="col-12 md:col-8">
            <form #detailsForm="ngForm" (ngSubmit)="updateProject()" class="panel shadow-1">
                <header class="p-3 border-bottom flex flex-wrap align-items-center justify-content-between gap-3">
                    <h3 class="m-0">
                        Details
                    </h3>

                    <div class="flex align-items-center gap-2">
                        <button class="btn-icon btn-outline btn-sm" style="height: 43px; width: 43px;"
                                (click)="toggleTaskCompletion()">
                            @if (task.completed) {
                                <i class="fasr fa-check-circle text-tertiary"></i>
                            } @else {
                                <i class="fasr fa-circle-dot text-success"></i>
                            }
                        </button>
                        <mat-dropdown class="w-200px" [options]="StatusList" (valueChange)="task.status = $event"
                                      [returnValue]="true" [optionLabel]="'name'" [optionValue]="'value'"
                                      [placeholder]="'Status'" [(value)]="task.status" name="status"></mat-dropdown>
                    </div>
                </header>
                <div class="p-3 flex flex-column gap-3">
                    <div class="flex flex-column gap-1">
                        <label for="title">Title</label>
                        <input type="text" id="title" name="title" [(ngModel)]="task.title" required/>
                    </div>
                    <div class="flex flex-column gap-1">
                        <label for="description">Description</label>
                        <textarea id="description" name="description" [(ngModel)]="task.description"></textarea>
                    </div>

                    <div class="flex align-items-center gap-3">
                        <span class="text-secondary fw-bold">
                            Subtasks
                        </span>
                        <div class="divider"></div>
                        <button type="button" class="btn btn-outline btn-sm w-200px" (click)="addSubtask()">
                            <i class="fa-duotone fa-plus"></i>
                            Add subtask
                        </button>
                    </div>
                    <div class="subtasks flex flex-column">
                        @for (subtask of task.subtasks; track subtask.id) {
                            <div class="subtask p-3 flex align-content-start gap-3" [class.completed]="subtask.checked">
                                @if (subtask.checked) {
                                    <i class="far fa-square-check text-primary cursor-pointer text-xl"
                                       (click)="subtask.checked = false"></i>
                                } @else {
                                    <i class="far fa-square cursor-pointer text-xl mt-2"
                                       [class.pointer-events-none]="subtask.title.trim().length == 0"
                                       (click)="subtask.checked = true"></i>
                                }

                                <div class="flex flex-column gap-3 flex-1">
                                    @if (!subtask.checked) {
                                        <input type="text" [id]="subtask.id + ' title'" [name]="subtask.id + ' title'"
                                               [(ngModel)]="subtask.title" required/>
                                    } @else {
                                        <span class="text-base fw-medium text-primary">
                                            {{ subtask.title }}
                                        </span>
                                    }
                                    <div class="flex flex-column gap-1">
                                        <label [for]="subtask.id + ' description'">Description</label>
                                        <textarea [id]="subtask.id + ' description'"
                                                  [name]="subtask.id + ' description'"
                                                  [(ngModel)]="subtask.description"></textarea>
                                    </div>
                                </div>

                                <button type="button" class="btn-icon btn-light-danger btn-sm" (click)="removeSubtask(subtask)">
                                    <i class="fa-duotone fa-trash"></i>
                                </button>
                            </div>
                        }
                    </div>


                    <div class="flex align-items-center justify-content-between border-top pt-3">
                        <button class="btn btn-danger" type="button" (click)="confirmDeleteTask($event)">
                            <i class="fa-duotone fa-trash"></i>
                            Delete
                        </button>

                        <button class="btn btn-primary" type="submit" [disabled]="!detailsForm.form.valid">
                            <i class="fa-duotone fa-save"></i>
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 md:col-4">
            <div class="panel shadow-1">
                <header class="p-3 border-bottom">
                    <h3>
                        Details
                    </h3>
                </header>
            </div>
        </div>
    </div>
</div>
<p-confirmPopup></p-confirmPopup>
<p-toast></p-toast>
