<div class="card mt-5">
    <div class="card-header">
        <div class="title fs-3 fw-bold m-0">
            Project Settings
        </div>
    </div>

    <form #projectSettingsForm="ngForm" (ngSubmit)="saveProject()">
        <div class="card-body p-5">
            <div class="grid mb-3">
                <div class="col-12 xl:col-3">
                    <label class="fs-6 fw-semibold mt-2 mb-3">
                        Project Logo
                    </label>
                </div>
                <div class="col-12 xl:col-8 flex flex-column">
                    <div
                        class="relative inline-block border-round-lg p-2 shadow bg-color inline-flex align-items-center justify-content-center"
                        style="box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075); height: 125px; width: 125px">
                        <img width="85px" height="85px" [src]="project.image" alt="logo"
                             *ngIf="project.image.length > 0">
                        <i class="fa-duotone fa-folder-image" style="font-size: 100px"
                           *ngIf="project.image.length == 0"></i>

                        <button type="button"
                                class="btn-icon bg-color shadow border-circle btn-sm text-active-primary absolute"
                                (click)="projectImage.click()"
                                style="height: 25px;width: 25px;top: -10px;right: -10px;">
                            <i class="fa-duotone fa-pencil text-sm"></i>
                        </button>
                        <button type="button"
                                class="btn-icon bg-color shadow border-circle btn-sm text-active-primary absolute"
                                style="height: 25px;width: 25px;bottom: -10px;right: -10px;"
                                (click)="deleteImage($event)"
                                *ngIf="project.image.length > 0">
                            <i class="fa-duotone fa-times text-sm"></i>
                        </button>
                    </div>
                    <input type="file" class="hidden" accept="image/png, image/jpg, image/jpeg" (change)="uploadImage($event)"
                           #projectImage>
                    <span class="mt-2 fs-7 text-500">
                        Allowed file types: png, jpg, jpeg.
                    </span>
                </div>
            </div>
            <div class="grid mb-3">
                <div class="col-12 xl:col-3">
                    <label class="fs-6 fw-semibold mt-2 mb-3">
                        Project Name
                    </label>
                </div>
                <div class="col-12 xl:col-8">
                    <input type="text" class="w-100" placeholder="Project Name" name="name" [(ngModel)]="project.title"
                           required>
                </div>
            </div>
            <div class="grid mb-3">
                <div class="col-12 xl:col-3">
                    <label class="fs-6 fw-semibold mt-2 mb-3">
                        Project Description
                    </label>
                </div>
                <div class="col-12 xl:col-8">
                    <textarea class="w-100" placeholder="Project Description" name="description"
                              [(ngModel)]="project.description"></textarea>
                </div>
            </div>
        </div>
        <div class="card-footer justify-content-between py-3 px-5">
            <button type="button" class="btn btn-danger" (click)="deleteProjectConfirm($event)">
                <i class="fa-duotone fa-trash-alt"></i>
                Delete Project
            </button>

            <div class="flex align-items-center gap-3">
                <button type="submit" class="btn btn-primary" [disabled]="!projectSettingsForm.form.valid">
                    <i class="fa-duotone fa-save"></i>
                    Save Changes
                </button>
            </div>

        </div>
    </form>
</div>

<p-confirmPopup></p-confirmPopup>
<p-toast></p-toast>
