.attatchment-button
    border: 1px solid #F2F2F6
    border-radius: 16px
    padding: 8px
    display: flex
    align-items: center

.checkbox
    padding: 0 12px !important
    border-radius: 6px
    height: 32px
    display: flex
    align-items: center
    gap: 12px !important

    .checkbox-input
        border: 0
        background-color: transparent
        outline: none
        cursor: text
        color: #4A464E
        padding: 0
        width: 80%

        &::placeholder
            color: #817C82

            &:hover
                color: #4A464E
                text-decoration: underline

    &:hover
        background-color: #EEF6FF

        .icon-btn
            opacity: 1 !important

.content
    padding: 24px

.details

    .section
        border-bottom: 2px solid #E1E3E8
        padding: 24px

        .title
            font-size: 14px
            color: #817C82
            margin-bottom: 12px
            display: block

        .title-dark
            font-size: 14px
            color: #4A464E

// mobile
@media screen and (max-width: 768px)
    .card
        border: 0
        border-radius: 0
        border-bottom: 1px solid #F3F4F9

        .urgency
            left: -1px

::ng-deep .p-chip,
::ng-deep p-chip
    padding: 0
    background: transparent !important

.label
    padding: 4px 8px
    border-radius: 8px
    font-family: 'Readex Pro'
    font-style: normal
    font-weight: 500
    font-size: 12px
    line-height: 16px
    display: flex
    align-items: center
    border: 0
    background-color: #DBEAFE !important
    color: #1E3A8A !important
    text-transform: capitalize
