<div [classList]="'col-12 card transition-none'"
     (click)="showAddTaskModal = true;playAudio('assets/drop.mp3', 0.5);" cdkDrag
     (cdkDragStarted)="playAudio('assets/drag.mp3', 0.2);">
    <!-- HEADER -->
    <header class="card-header flex flex-column gap-3 w-full mb-5 align-items-baseline">
        <div class="flex align-items-center gap-3">
            <span class="material-symbols-rounded text-base" *ngIf="!task.completed"
                  (click)="toggleTaskCompleted($event, task)">
                circle
            </span>
            <span class="material-symbols-rounded text-base text-primary" *ngIf="task.completed"
                  (click)="toggleTaskCompleted($event, task)">
                check_circle
            </span>
            <span class="text-base text-secondary">
                #{{ task.id }}
            </span>
            <span class="text-base text-color font-bold">
                {{ task.title }}
            </span>
            <div class="task-status" [style.border-color]="task.status.borderColor"
                 [style.background-color]="task.status.bgColor">
                <i class="material-symbols-rounded" [style.color]="task.status.iconColor">
                    {{ task.status.icon }}
                </i>
                {{ task.status.name }}
            </div>
        </div>
        <div class="flex align-items-center gap-3">
            <div class="flex gap-3 text-secondary" *ngIf="task.assignee">
                <i class="material-symbols-rounded text-sm">
                    person
                </i>
                <span class="text-sm">
                    {{ task.assignee.displayName }}
                </span>
            </div>
            <div class="flex gap-3 text-secondary" *ngIf="task.urgency">
                <i class="material-symbols-rounded text-sm">
                    flag
                </i>
                <span class="text-sm">
                    {{ task.urgency.title }}
                </span>
            </div>
        </div>
    </header>
    <!-- /HEADER -->

    <div class="card-footer" *ngIf="task.checkboxes.length > 0">
        <app-circular-progress-bar
            [value]="getTotalCompletedTasks() / task.checkboxes.length * 100"></app-circular-progress-bar>
        <!-- current checkbox name -->
        <span class="text-sm text-color">
            {{ getCurrentCheckboxName() }}
        </span>
        <!-- counter of completed/total -->
        <span class="text-sm text-color">
            {{ getTotalCompletedTasks() }} / {{ task.checkboxes.length }}
        </span>
        <!-- last time updated -->
        <span class="text-sm text-secondary">
            updated
            {{ task.modificationDate | date: 'd MMM, y, h:mm a' : 'es-ES' }}
        </span>
    </div>
</div>
<!-- EDIT TASK MODAL -->
<div class="dialog-container" *ngIf="showAddTaskModal">
    <div class="overlay" (click)="hideModal()"></div>
    <div class="dialog dialog-lg">
        <div class="dialog-header">
            <header class="flex align-items-center justify-content-between">
                <div class="flex align-items-center gap-2">
                    <button class="icon-btn text-btn" (click)="hideModal()">
                        <span class="material-symbols-rounded">
                            close
                        </span>
                    </button>
                    <span class="dialog-title">
                        <span class="text-color">Dashboard</span>
                        <span class="text-color">/</span>
                        <span class="text-color">{{ project.title ? project.title : '--' }}</span>
                        <span class="text-color">/</span>
                        <span class="text-black">{{ columnName }}</span>
                    </span>
                </div>
            </header>
        </div>

        <div class="dialog-content p-0 w-100 max-h-full md:max-h-40rem flex flex-column md:flex-row gap-10">
            <div class="content w-full md:w-8">
                <div class="flex flex-row align-items-baseline gap-2">
                    <button *ngIf="task.id !== ''" class="icon-btn text-btn" (click)="toggleTaskCompleted()">
                        <span class="material-symbols-rounded" *ngIf="!task.completed">
                            circle
                        </span>
                        <span class="material-symbols-rounded" *ngIf="task.completed">
                            check_circle
                        </span>
                    </button>
                    <div class="flex flex-column gap-2 w-full">
                        <mat-input [inputType]="'text'" [label]="'Title'" [(value)]="task.title"
                                   [required]="true" [name]="'taskTitle'"></mat-input>
                        <mat-textarea [(value)]="task.description" [label]="'Description'"
                                      [name]="'taskDescription'" [showCounter]="true" [maxLength]="500"></mat-textarea>
                    </div>
                </div>
                <div class="flex align-items-center justify-content-end gap-2 mt-2">
                    <button type="button" class="btn tonal-btn" (click)="hideModal()">
                        <span class="material-symbols-rounded text-base">close</span>
                        Cancel
                    </button>
                    <button type="button" class="btn filled-btn" (click)="editTask()">
                        <span class="material-symbols-rounded text-base">save</span>
                        Save
                    </button>
                </div>

                <div class="flex flex-column gap-2 mt-5 mb-2">
                    <div class="flex align-items-center gap-3 p-2 cursor-pointer"
                         (click)="showModalCheckboxes = !showModalCheckboxes" style="border-bottom: 1px solid #E1E3E8">
                        <span class="material-symbols-rounded text-secondary"
                              *ngIf="showModalCheckboxes">keyboard_arrow_down</span>
                        <span class="material-symbols-rounded text-secondary"
                              *ngIf="!showModalCheckboxes">keyboard_arrow_up</span>
                        <span class="font-bold">Subtasks</span>
                        <span class="text-secondary text-sm">{{getTotalCompletedTasks()}} /
                            {{task.checkboxes.length}}</span>
                        <button class="btn tonal-btn ml-2" (click)="addCheckbox($event)">
                            <span class="material-symbols-rounded">add</span>
                            Add Subtask
                        </button>
                    </div>
                    <div class="flex flex-column gap-2 mt-2 max-h-8rem overflow-y-auto" *ngIf="showModalCheckboxes">
                        <div *ngIf="task.checkboxes.length > 0" cdkDropList [cdkDropListData]="task.checkboxes"
                             (cdkDropListDropped)="drop($event, false)">
                            <div class="flex checkbox flex-row align-items-center gap-2"
                                 *ngFor="let checkbox of task.checkboxes" cdkDrag>
                                <i class="material-symbols-rounded text-color text-sm" style="cursor: grab"
                                   cdkDragHandle>drag_indicator</i>
                                <label
                                    [classList]="checkbox.checked ? 'checkbox-container is-checked' : 'checkbox-container'">
                                    <input type="checkbox" [(ngModel)]="checkbox.checked">
                                    <span class="checkbox-helper"></span>
                                    <span class="outline">
                                        <span class="outline-tick"></span>
                                    </span>
                                </label>
                                <input class="checkbox-input" placeholder="Enter subtask..." type="text"
                                       [(ngModel)]="checkbox.title">
                                <button class="icon-btn text-btn btn-small opacity-0"
                                        (click)="deleteCheckbox($event, checkbox)">
                                    <span class="material-symbols-rounded">delete</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex align-items-center gap-3 p-2 cursor-pointer" (click)="showModalFiles = !showModalFiles"
                     style="border-bottom: 1px solid #E1E3E8">
                    <span class="material-symbols-rounded text-500" *ngIf="showModalFiles">keyboard_arrow_down</span>
                    <span class="material-symbols-rounded text-500" *ngIf="!showModalFiles">keyboard_arrow_up</span>
                    <span class="font-bold">Attatchments</span>
                    <span class="text-secondary text-sm">{{task.images.length}}</span>
                    <button class="btn tonal-btn ml-2" (click)="fileInputClickInside($event)">
                        <i class="material-symbols-rounded text-lg">attach_file_add</i>
                        Add Attachment
                    </button>

                    <input class="custom-file p-0 hidden" #addFiles style="height: 24px;" type="file" id="images"
                           (change)="uploadTaskImage($event)">
                </div>
                <div class="flex flex-column pt-2 gap-3" *ngIf="showModalFiles">
                    <div class="flex align-items-center flex-wrap gap-3" *ngIf="task.images.length > 0">
                        <div class="relative" *ngFor="let image of task.images">
                            <div class="attatchment-button cursor-pointer" (click)="selectedImage = image.url">
                                <span class="material-symbols-rounded border-400 border-radius-lg p-3">
                                    file_open
                                </span>
                                {{image.name}}
                            </div>
                            <button class="icon-btn text-btn btn-small absolute" style="top:6px; right:8px"
                                    (click)="removeImage(image)">
                                <span class="material-symbols-rounded text-red-500">delete</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="details w-full md:w-4">
                <div class="section">
                    <span class="title font-medium">
                        Due Date
                    </span>

                    <div class="flex gap-2 align-items-center bg-color border-round-lg px-3 py-1">
                        <i class="material-symbols-rounded text-base text-color">calendar_today</i>
                        <p-calendar [(ngModel)]="task.dueDate" placeholder="Enter due date..." [showClear]="true"
                                    [showTime]="true" [showIcon]="true" appendTo="body"
                                    icon="pi pi-angle-down"></p-calendar>
                    </div>
                </div>

                <div class="section">
                    <span class="title font-medium">
                        Set Priority
                    </span>
                    <mat-dropdown [options]="urgencyDropdownOptions" [icon]="'flag'" [(value)]="task.urgency"
                                  [returnValue]="false" (valueChange)="editTask(false)"></mat-dropdown>
                </div>

                <div class="section">
                    <span class="title font-medium">
                        Tags
                    </span>

                    <div class="flex aling-items-center flex-wrap gap-2 mb-2">
                        <p-chip [removable]="true" *ngFor="let label of task.labels" (onRemove)="onLabelRemove(label)">
                            <div class="font-medium label">{{ label.label }}</div>
                        </p-chip>
                    </div>

                    <mat-dropdown [options]="labelsList" [icon]="'label'" [(value)]="selectedLabel.value"
                                  [returnValue]="false" (valueChange)="onLabelSelect($event)"
                                  [placeholder]="'Select Labels...'"></mat-dropdown>
                </div>

                <div class="section border-bottom-0">
                    <span class="block mb-1 text-secondary subheader2">
                        Created
                    </span>
                    <span class="font-regular text-sm block mb-3 text-600">
                        {{ task.creationDate | date: 'd MMM, y, h:mm a' : 'es-ES' }}
                    </span>

                    <span class="block mb-1 text-secondary subheader2">
                        Updated
                    </span>
                    <span class="font-regular text-sm text-600">
                        {{ task.modificationDate | date: 'd MMM, y, h:mm a' : 'es-ES' }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dialog-container" *ngIf="selectedImage !== ''">
    <button class="btn btn-icon absolute" style="top: 138px; right: 22%" (click)="selectedImage = ''">
        <span class="material-symbols-rounded">
            close
        </span>
    </button>
    <div class="dialog">
        <img [src]="selectedImage" class="w-full h-full shadow-1 pointer-events-none">
    </div>
</div>

<p-toast></p-toast>
<p-confirmPopup appendTo="body"></p-confirmPopup>
