<div class="card mx-auto w-6 card-flush py-3">
    <form #loginFormulario="ngForm">
        <div class="card-header">
            <span class="title">
                <h2>Login</h2>
            </span>
        </div>

        <div class="card-body pt-0">
            <div class="form-group mb-3">
                <input type="email" [(ngModel)]="loginForm.email" name="email" placeholder="Enter email..." required>
            </div>

            <div class="form-group mb-3">
                <input type="password" [(ngModel)]="loginForm.password" name="password" placeholder="Enter password..."
                    required>
            </div>

            <div class="form-group mb-3">
            </div>
        </div>

        <div class="card-footer justify-content-end gap-2">
            <button class="btn btn-secondary" (click)="loginWithGoogle()">
                <img width="20" class="mr-2" src="https://cdn-icons-png.flaticon.com/512/2991/2991148.png"
                     alt="Google Logo">
                Login with Google
            </button>
            <button class="btn btn-primary" (click)="login()" [disabled]="!loginFormulario.form.valid">
                Register
            </button>
        </div>
    </form>
</div>
