<div class="h-full w-full flex align-items-center justify-content-center">
    <div class="page-dialog border-1 border-200">
        <div class="page-dialog__title border-bottom-1 pb-3 border-300">
            <span class="title font-medium text-color">Login</span>
            <button class="icon-btn outlined-btn" routerLink="/auth/register">
                <span class="material-symbols-rounded">person_add</span>
            </button>
        </div>

        <div class="page-dialog__content">
            <div class="form-group mb-3">
                <mat-input [(value)]="loginForm.email" [name]="'email'" [type]="'email'"
                    [placeholder]="'Enter email...'" [required]="true"></mat-input>
            </div>

            <div class="form-group mb-3">
                <mat-input class="w-100" [(value)]="loginForm.password" [name]="'password'" [type]="'password'"
                    [placeholder]="'Enter password...'" [required]="true"></mat-input>
            </div>

            <div class="form-group mb-3">
                <button class="btn tonal-btn" (click)="loginWithGoogle()">
                    <img class="h-1 w-1 mr-2" src="https://cdn-icons-png.flaticon.com/512/2991/2991148.png"
                        alt="Google Logo">
                    Login with Google
                </button>
            </div>
        </div>

        <div class="page-dialog__actions border-top-1 pt-3 border-300">
            <button class="btn filled-btn" (click)="login()">
                <i class="material-symbols-rounded">login</i>
                Register
            </button>
        </div>
    </div>
</div>
