<div class="flex flex-column mt-5 gap-3">
    <div class="border-bottom w-full flex align-content-center justify-content-between px-3 md:px-5">
        <div class="flex align-items-center gap-3">
            @if (projects.length > 0) {
                <div class="tabs overflow-y-auto">
                    @for (project of projects; track project.id) {
                        <div class="tab" [class.active]="project.id == selectedProject.id"
                             (click)="selectedProject = project">
                            {{ project.name }}
                        </div>
                    }
                </div>
            }

            @if (creatingProject) {
                <app-create-project (onCreate)="creatingProject = false; getProjects()"
                                    (onClose)="creatingProject = false;"></app-create-project>
            } @else {
                <button class="btn btn-primary-light btn-sm mb-2" (click)="creatingProject = true">
                    <i class="material-symbols-outlined">add</i>
                    Create Project
                </button>
            }
        </div>

        @if (selectedProject) {
            <app-menu [items]="menuItems"></app-menu>
        }
    </div>


</div>
