<div class="menu">
    <button class="btn-icon btn-text" type="button" #menuBtn ripple>
        <i class="material-symbols-rounded">more_vert</i>
    </button>

    @if (showMenu) {
        <div class="menu-content fadein" #menuContent>
            @for (item of items; track item.title) {
                <div class="menu-item" (click)="item.action()" ripple>
                    @if (item.icon) {
                        <i class="material-symbols-rounded text-xl">{{ item.icon }}</i>
                    }
                    {{ item.title }}
                </div>
            }
        </div>
    }
</div>
