<div class="overlay" [class.o-active]="active" (click)="active = false"></div>

<div class="date-parent">
	<div class="datepicker-container" [class.active]="active" (click)="active = !active">
		<i class="material-symbols-rounded" *ngIf="!isStringNullOrEmpty(icon)">{{ icon }}</i>
		<div class="input-container flex flex-column w-full">
			<label class="floating-label" [class.active]="!isStringNullOrEmpty(value.toString())"
				*ngIf="!isStringNullOrEmpty(label)">
				{{ label }}
			</label>
			<span class="dateinput" *ngIf="!isStringNullOrEmpty(value.toString())">
				{{ value | date: 'dd/MM/yyyy HH:mm' }}
			</span>
		</div>
		<i class="material-symbols-rounded">
			date_range
		</i>
	</div>

	<div class="date-dropdown" [class.d-expanded]="active">
		<header>
			{{ showHour ? 'Select a time' : 'Select a date' }}
		</header>

		<main>
			<div class="date-value pb-2">
				{{ value | date: 'EEE, MMM dd' }}

				<button class="icon-btn text-btn bg-hover-primary" (click)="showHour = !showHour">
					<i class="material-symbols-rounded text-xl">schedule</i>
				</button>
			</div>

			<div class="datepicker" *ngIf="!showHour">
				<div class="month-navigation">
					<mat-dropdown [options]="monthArrayOptions" [(value)]="currentMonth" [small]="true"
						(valueChange)="selectMonth($event)" style="width: 112px"></mat-dropdown>

					<div class="next-prev flex align-items-center gap-2">
						<button class="icon-btn text-btn bg-hover-primary" (click)="getPreviousMonthDays()">
							<i class="material-symbols-rounded text-xl">chevron_left</i>
						</button>

						<button class="icon-btn text-btn bg-hover-primary" (click)="getNextMonthDays()">
							<i class="material-symbols-rounded text-xl">chevron_right</i>
						</button>
					</div>
				</div>

				<div class="month-grid flex flex-column gap-3">
					<div class="week-days flex align-items-center w-full">
						<span class="font-medium text-base w-full text-center" *ngFor="let day of daysArray">
							{{ day }}
						</span>
					</div>

					<div class="flex flex-wrap">
						<span class="font-medium text-base text-center mb-1" style="color: transparent; flex: 1 1 45px;"
							*ngFor="let empty of emptySpaceInMonthArray">
							E
						</span>
						<span class="day-btn font-medium text-base text-center mb-1" style="flex: 1 1 45px;"
							(click)="selectDate(day)" [class.day-selected]="day.selected" [class.today]="day.isToday"
							*ngFor="let day of monthDaysArray">
							{{ day.day }}
						</span>
						<span class="font-medium text-base text-center mb-1" style="color: transparent; flex: 1 1 45px;"
							*ngFor="let empty of emptySpaceAfterMonthArray">
							E
						</span>
					</div>
				</div>


			</div>

			<div class="hourpicker flex gap-2 p-3" *ngIf="showHour">
				<div class="clock">
					<div class="hour-element" *ngFor="let hour of hourArray"
						[class.hour-selected]="hour === selectedHour" (click)="selectHour(hour)">
						<span>{{ hour }}</span>
					</div>
				</div>

				<div class="flex flex-column gap-3">
					<div class="flex align-items-center gap-2">
						<div class="bg-primary rounded p-3 flex justify-content-center align-items-center">
							<span class="font-bold text-xl">
								{{ selectedHour < 10 ? '0' + selectedHour : selectedHour }} </span>
						</div>
						<span class="text-color text-xl">:</span>
						<div class="bg-white rounded p-3 flex justify-content-center align-items-center">
							<span class="font-bold text-xl">
								00
							</span>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer class="w-full flex align-items-center px-3" [class.justify-content-between]="!showHour"
			[class.justify-content-end]="showHour">
			<button class="btn text-btn bg-hover-primary" (click)="goToday()" *ngIf="!showHour">
				<span class="material-symbols-rounded">today</span>
				Today
			</button>

			<button class="btn text-btn bg-hover-primary" (click)="active = false">
				<span class="material-symbols-rounded">close</span>
				Close
			</button>
		</footer>
	</div>
</div>