img
    width: 100px
    height: 100px
    object-fit: cover
    border-radius: 18px
    transition: all 0.2s ease-in-out

    &:hover
        filter: brightness(0.8)

::ng-deep .p-multiselect,
::ng-deep .p-dropdown
    width: 100%
    background-color: transparent
    border: 2px solid #DDD

.column
    padding: 20px
    border-radius: 4px

    header
        display: flex
        justify-content: space-between
        margin-bottom: 20px

        .left-container
            display: flex
            align-items: center
            gap: 12px

            .title
                font-size: 18px
                color: #0A0920

            .task-count
                font-size: 16px
                color: #9E9EA7

        .right-container
            display: flex
            align-items: center
            gap: 12px

    .dropzone
        border: 1px dashed #E8E8E8
        background-color: transparent
        border-radius: 6px
        padding: 12px
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        transition: all 0.2s ease-in-out
        cursor: pointer

        &:hover
            border-color: #2E7DFF

            .material-symbols-rounded
                font-size: 32px
                color: #2E7DFF

    &.p-draggable-enter,
    &:hover
        .dropzone
            border-color: #2E7DFF

            .material-symbols-rounded
                font-size: 32px
                color: #2E7DFF

@media screen and (min-width: 768px)
    .md\:h-97
        height: 97% !important
