<div class="col-12 h-full" *ngIf="!loading">
    <div class="flex align-items-center justify-content-between">
        <div class="flex flex-column md:flex-row gap-2 align-items-left md:align-items-center">
            <div class="flex gap-2 align-items-center">
                <button class="btn btn-icon" routerLink="/dashboard">
                    <span class="material-icons">arrow_back</span>
                </button>
                <div>
                    <span class="text-xl font-black mr-2">Kanban Board <span class="ml-1">·</span></span>
                    <span class="text-xl font-regular">{{ project.title }}</span>
                </div>
            </div>
            <button class="btn btn-primary" (click)="showAddColumnModal = true">
                <span class="material-icons">add</span>
                Column
            </button>
        </div>
    </div>

    <div class="flex md:grid flex-column md:flex-row grid-nogutter mt-3 gap-5 h-full"
        *ngIf="project.columns.length > 0">
        <!-- COLUMNS -->
        <div class="col-12 md:col column p-0 md:p-4 h-auto md:h-full"
            *ngFor="let column of project.columns; let i = index" pDroppable (onDrop)="primengDrop(i, column.tasks)">
            <header class="p-3 md:p-0 mb-0 md:mb-3 border-bottom-1 md:border-bottom-0 border-300 md:border-transparent">
                <div class="left-container">
                    <button class="btn btn-icon" (click)="addTask(column.id)">
                        <span class="material-icons text-lg">add</span>
                    </button>
                    <span class="font-black title">{{ column.title }}</span>
                    <span class="task-count font-medium">({{ column.tasks.length < 10 ? '0' : '' }}{{
                            column.tasks.length }})</span>
                </div>
                <div class="right-container">
                    <button class="btn btn-icon text" (click)="editColumnSetup(column.id, column.title)">
                        <span class="material-icons">edit</span>
                    </button>
                    <button class="btn btn-icon text" (click)="deleteColumn(column.id)">
                        <span class="material-icons text-red-500">delete</span>
                    </button>
                </div>
            </header>

            <!-- CARDS -->
            <div class="grid grid-nogutter gap-3 max-h-full overflow-y-auto" *ngIf="column.tasks.length > 0">
                <app-card class="col-12" *ngFor="let task of column.tasks" [columnId]="column.id"
                    [taskProjectId]="projectId" [task]="task" [index]="i" (dragStart)="dragStart($event)"
                    (dragEnd)="dragEnd()" (updateKanban)="updateKanban()">
                </app-card>
            </div>
        </div>
    </div>
</div>

<div class="dialog-container" *ngIf="showEditColumnModal">
    <div class="dialog">
        <div class="dialog-header">
            <span class="dialog-title">Edit Column</span>
            <button class="btn btn-icon" (click)="showEditColumnModal = false">
                <span class="material-icons">
                    close
                </span>
            </button>
        </div>
        <div class="dialog-content">
            <div class="flex flex-column gap-2">
                <label for="title">Column Title</label>
                <input type="text" id="title" placeholder="Enter a title..." [(ngModel)]="columnEditTitle">
            </div>
        </div>
        <div class="dialog-footer">
            <button type="button" class="btn btn-secondary" (click)="showEditColumnModal = false">
                <span class="material-icons">close</span>
                Cancel
            </button>
            <button type="button" class="btn btn-primary" (click)="editColumn()">
                <span class="material-icons">edit</span>
                Column
            </button>
        </div>
    </div>
</div>

<div class="dialog-container" *ngIf="showAddColumnModal">
    <div class="dialog">
        <div class="dialog-header">
            <span class="dialog-title">Add Column</span>
            <button class="btn btn-icon" (click)="showAddColumnModal = false">
                <span class="material-icons">
                    close
                </span>
            </button>
        </div>
        <div class="dialog-content">
            <div class="flex flex-column gap-2">
                <label for="title">Column Title</label>
                <input type="text" id="title" placeholder="Enter a title..." [(ngModel)]="columnTitle">
            </div>
        </div>
        <div class="dialog-footer">
            <button type="button" class="btn btn-secondary" (click)="showAddColumnModal = false">
                <span class="material-icons">close</span>
                Cancel
            </button>
            <button type="button" class="btn btn-primary" (click)="addColumn()">
                <span class="material-icons">add</span>
                Column
            </button>
        </div>
    </div>
</div>
