<div class="col-10" *ngIf="!loading">
    <div class="flex align-items-center justify-content-between">
        <div class="flex gap-2 align-items-center">
            <button class="btn btn-secondary" routerLink="/dashboard">
                <span class="material-icons">arrow_back</span>
            </button>
            <div>
                <span class="text-lg font-bold mr-2">Kanban Board <span class="ml-1">·</span></span>
                <span class="text-lg">{{ project.title }}</span>
            </div>
        </div>
        <div>
            <button class="btn btn-icon" (click)="showAddColumnModal = true">
                <span class="material-icons">add</span>
            </button>
        </div>
    </div>

    <div class="grid grid-nogutter mt-3 gap-5" *ngIf="project.columns.length > 0">
        <div class="col p-3 column border-round-lg max-w-25rem" *ngFor="let column of project.columns; let i = index"
            pDroppable (onDrop)="primengDrop(i, column.tasks)">
            <div class="flex flex-row align-items-center mb-3 justify-content-between">
                <span class="text-base block">{{ column.title }}</span>
                <div class="flex flex-row align-items-center gap-1">
                    <button class="btn btn-icon" (click)="editColumnSetup(column.id, column.title)">
                        <span class="material-icons">edit</span>
                    </button>
                    <button class="btn btn-icon" (click)="deleteColumn(project.id, column.id)">
                        <span class="material-icons text-red-500">delete</span>
                    </button>
                </div>
            </div>

            <button class="btn btn-primary p-2 flex justify-content-center align-items-center text-center w-full"
                (click)="addTaskSetup(column.id)">
                <span class="material-icons">add</span>
            </button>
            <div class="grid grid-nogutter mt-2 gap-3" *ngIf="column.tasks.length > 0">
                <div class="col-12 card transition-all transition-duration-100" *ngFor="let task of column.tasks"
                    (click)="editTaskSetup(column.id, task)" pDraggable (onDragStart)="dragStart(task, i)"
                    (onDragEnd)="dragEnd()">
                    <div class="flex flex-row align-items-center justify-content-between">
                        <div class="flex align-items-center">
                            <span class=""
                                [classList]="'material-icons text-xs mr-2 urgency-' + task.urgency">circle</span>
                            <span [classList]="'text-base font-bold'">{{
                                task.title }}</span>
                        </div>
                        <div class="flex flex-row align-items-center gap-1">
                            <button class="btn btn-icon" (click)="toggleTaskCompleted($event, task)">
                                <span class="material-icons"
                                    [classList]="task.completed ? 'material-icons text-green-500' : 'material-icons text-white'">
                                    check_circle
                                </span>
                            </button>
                            <button class="btn btn-icon" (click)="deleteTask(project.id, column.id, task.id)">
                                <span class="material-icons text-red-500">delete</span>
                            </button>
                        </div>
                    </div>
                    <span class="text-500 text-sm">{{task.creationDate | date: 'dd/LL/yyyy - HH:mm'}}</span>
                    <div class="grid grid-nogutter gap-2 mt-3 mb-2" *ngIf="task.labels.length > 0">
                        <div class="label" *ngFor="let label of task.labels" [style.background]="label.color">
                            {{ label.name }}
                        </div>
                    </div>
                    <span class="card-description text-base text-500">{{ task.description }}</span>

                    <div class="flex align-items-center gap-2 mt-2" *ngIf="task.checkboxes.length > 0">
                        <span
                            [classList]="getTotalCompletedTasks(task) === task.checkboxes.length ? 'material-icons text-blue-600' : 'material-icons text-white'">check_box</span>
                        <span class="font-semibold text-600">{{getTotalCompletedTasks(task)}} /
                            {{task.checkboxes.length}}</span>
                        <div class="flex flex-1 bg-white border-round" style="height: 3px">
                            <div class="bg-blue-500 border-round transition-all transition-duration-100"
                                [style.width.%]="getTotalCompletedTasks(task) / task.checkboxes.length * 100"></div>
                        </div>
                        <button class="btn btn-icon" (click)="showCheckbox($event, task.id)">
                            <span class="material-icons text-700"
                                *ngIf="showCheckboxes !== task.id">keyboard_arrow_down</span>
                            <span class="material-icons text-700"
                                *ngIf="showCheckboxes === task.id">keyboard_arrow_up</span>
                        </button>
                    </div>

                    <div class="flex flex-column gap-2 mt-2 ml-3 transition-all transition-duration-150 fadein"
                        *ngIf="showCheckboxes === task.id">
                        <div class="flex flex-row align-items-center gap-2" *ngFor="let checkbox of task.checkboxes">
                            <label
                                [classList]="checkbox.checked ? 'checkbox-container is-checked' : 'checkbox-container'"
                                (click)="saveCheckbox($event, task)">
                                <input type="checkbox" [(ngModel)]="checkbox.checked">
                                <span class="checkbox-helper"></span>
                                <span class="outline">
                                    <span class="outline-tick"></span>
                                </span>
                            </label>
                            <span>{{ checkbox.title }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dialog-container" *ngIf="showAddTaskModal">
    <div class="dialog">
        <div class="dialog-header">
            <div class="flex flex-row align-items-center gap-3 w-7">
                <span class="dialog-title w-4" *ngIf="selectedTask.id === ''">Add Task</span>
                <span class="dialog-title w-4" *ngIf="selectedTask.id !== ''">Edit Task</span>
                <p-dropdown [options]="project.columns" [classList]="'w-full'" [ngStyle]="{width: '100%'}"
                    placeholder="Select Column..." (onChange)="onTaskColumnEdit($event)" [(ngModel)]="taskColumnId"
                    optionLabel="title" optionValue="id"></p-dropdown>
            </div>
            <div class="flex align-items-center gap-2">
                <button *ngIf="selectedTask.id !== ''" class="btn btn-icon" (click)="toggleTaskCompleted()">
                    <span class="material-icons"
                        [classList]="selectedTask.completed ? 'material-icons text-green-500' : 'material-icons text-gray-500'">
                        check_circle
                    </span>
                </button>
                <button class="btn btn-icon" (click)="showAddTaskModal = false">
                    <span class="material-icons">
                        close
                    </span>
                </button>
            </div>
        </div>
        <div class="dialog-content">
            <div class="flex flex-column gap-2">
                <label for="title">Task Title</label>
                <input type="text" id="title" placeholder="Enter a title..." [(ngModel)]="selectedTask.title">
            </div>
            <div class="flex flex-column gap-2 mt-2">
                <label for="description">Task Description</label>
                <textarea id="description" rows="6" placeholder="Enter a description..."
                    [(ngModel)]="selectedTask.description"></textarea>
            </div>

            <div class="flex flex-row align-items-center flex-wrap gap-3 mt-2">
                <div class="relative" *ngFor="let image of selectedTask.images">
                    <img [src]="image" alt="Task Image" class="cursor-pointer" (click)="selectedImage = image">
                    <button class="btn btn-icon absolute" style="top:4px; right:4px" (click)="removeImage(image)">
                        <span class="material-icons text-red-500">delete</span>
                    </button>
                </div>
                <input type="file" id="images" (change)="uploadTaskImage($event)">
            </div>

            <div class="flex flex-column gap-2 mt-2 mb-4">
                <label for="checkboxes">Checkboxes</label>
                <div class="flex flex-row align-items-center gap-2">
                    <input type="text" id="checkboxes" placeholder="Enter a checkbox..." [(ngModel)]="newCheckbox">
                    <button class="btn btn-icon" (click)="addCheckbox()">
                        <span class="material-icons">add</span>
                    </button>
                </div>
                <div class="flex flex-column gap-2 mt-2" *ngIf="selectedTask.checkboxes">
                    <div class="flex flex-row align-items-center gap-2"
                        *ngFor="let checkbox of selectedTask.checkboxes">
                        <label [classList]="checkbox.checked ? 'checkbox-container is-checked' : 'checkbox-container'">
                            <input type="checkbox" [(ngModel)]="checkbox.checked">
                            <span class="checkbox-helper"></span>
                            <span class="outline">
                                <span class="outline-tick"></span>
                            </span>
                        </label>
                        <input type="text" [(ngModel)]="checkbox.title">
                        <button class="btn btn-icon" (click)="deleteCheckbox(checkbox)">
                            <span class="material-icons">delete</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="flex flex-row aling-items-center justify-content-between gap-3 mt-2">
                <div class="flex flex-column gap-2 w-6">
                    <label for="labels">Labels</label>
                    <p-multiSelect [options]="labelsList" [classList]="'w-full'" [ngStyle]="{width: '100%'}"
                        defaultLabel="Select Labels..." [(ngModel)]="selectedTask.labels" optionLabel="name"
                        display="chip"></p-multiSelect>
                </div>
                <div class="flex flex-column gap-2 w-6">
                    <label for="urgency">Urgency</label>
                    <p-dropdown [options]="urgencyList" [classList]="'w-full'" [ngStyle]="{width: '100%'}"
                        placeholder="Select Urgency..." appendTo="body" [showClear]="true"
                        [(ngModel)]="selectedTask.urgency" optionLabel="title" optionValue="code"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="dialog-footer">
            <button type="button" class="btn btn-secondary" (click)="clearTask()">
                <span class="material-icons">close</span>
                Cancel
            </button>
            <button type="button" class="btn btn-primary" (click)="addTask()">
                <span *ngIf="selectedTask.id === ''" class="material-icons">add</span>
                <span *ngIf="selectedTask.id !== ''" class="material-icons">edit</span>
                Task
            </button>
        </div>
    </div>
</div>

<div class="dialog-container" *ngIf="showEditColumnModal">
    <div class="dialog">
        <div class="dialog-header">
            <span class="dialog-title">Edit Column</span>
            <button class="btn btn-icon" (click)="showEditColumnModal = false">
                <span class="material-icons">
                    close
                </span>
            </button>
        </div>
        <div class="dialog-content">
            <div class="flex flex-column gap-2">
                <label for="title">Column Title</label>
                <input type="text" id="title" placeholder="Enter a title..." [(ngModel)]="columnEditTitle">
            </div>
        </div>
        <div class="dialog-footer">
            <button type="button" class="btn btn-secondary" (click)="showEditColumnModal = false">
                <span class="material-icons">close</span>
                Cancel
            </button>
            <button type="button" class="btn btn-primary" (click)="editColumn()">
                <span class="material-icons">edit</span>
                Column
            </button>
        </div>
    </div>
</div>

<div class="dialog-container" *ngIf="showAddColumnModal">
    <div class="dialog">
        <div class="dialog-header">
            <span class="dialog-title">Add Column</span>
            <button class="btn btn-icon" (click)="showAddColumnModal = false">
                <span class="material-icons">
                    close
                </span>
            </button>
        </div>
        <div class="dialog-content">
            <div class="flex flex-column gap-2">
                <label for="title">Column Title</label>
                <input type="text" id="title" placeholder="Enter a title..." [(ngModel)]="columnTitle">
            </div>
        </div>
        <div class="dialog-footer">
            <button type="button" class="btn btn-secondary" (click)="showAddColumnModal = false">
                <span class="material-icons">close</span>
                Cancel
            </button>
            <button type="button" class="btn btn-primary" (click)="addColumn()">
                <span class="material-icons">add</span>
                Column
            </button>
        </div>
    </div>
</div>

<div class="dialog-container" *ngIf="selectedImage !== ''">
    <button class="btn btn-icon absolute" style="top: 170px; right: 30%" (click)="selectedImage = ''">
        <span class="material-icons">
            close
        </span>
    </button>
    <div class="dialog">
        <img [src]="selectedImage" class="w-full h-full shadow-1 pointer-events-none">
    </div>
</div>
