img
    width: 100px
    height: 100px
    object-fit: cover
    border-radius: 18px
    transition: all 0.2s ease-in-out

    &:hover
        filter: brightness(0.8)

::ng-deep .p-multiselect,
::ng-deep .p-dropdown
    width: 100%
    background-color: transparent
    border: 2px solid #DDD

.column
    background-color: #FFFFFF
    box-shadow: 0 4px 8px 0 rgba(138, 158, 180, 0.05)
    padding: 20px
    border-radius: 4px

    header
        display: flex
        justify-content: space-between
        margin-bottom: 20px

        .left-container
            display: flex
            align-items: center
            gap: 12px

            .title
                font-size: 18px
                color: #252A48

            .task-count
                font-size: 16px
                color: #2e7dff

        .right-container
            display: flex
            align-items: center
            gap: 12px
