<div class="h-full w-full flex align-items-start md:align-items-center justify-content-start md:justify-content-center">
    <div class="page-dialog border-1 border-200">
        <div class="page-dialog__title border-bottom-1 pb-3 border-300">
            <span class="title font-medium text-color">Register</span>
            <button class="icon-btn outlined-btn" routerLink="/auth/login">
                <span class="material-symbols-rounded">login</span>
            </button>
        </div>

        <form class="page-dialog__content">
            <div class="grid m-0 mb-3 w-full">
                <div class="form-group p-0 pr-2 col-12 md:col-6">
                    <mat-input [(value)]="registerForm.username" [name]="'username'" [type]="'text'"
                        [placeholder]="'Enter username...'" [required]="true"></mat-input>
                </div>
                <div class="form-group p-0 pl-2 col-12 md:col-6">
                    <mat-input [(value)]="registerForm.email" [name]="'email'" [type]="'email'"
                        [placeholder]="'Enter email...'" [required]="true"></mat-input>
                </div>
            </div>

            <div class="form-group mb-3">
                <mat-input class="w-100" [(value)]="registerForm.password" [name]="'password'" [type]="'password'"
                    [placeholder]="'Enter password...'" [required]="true"></mat-input>
            </div>
        </form>

        <div class="page-dialog__actions border-top-1 pt-3 border-300">
            <button type="submit" class="btn filled-btn" (click)="register()">
                <i class="material-symbols-rounded">person_add</i>
                Register
            </button>
        </div>
    </div>
</div>
