<div class="h-full w-full flex align-items-start md:align-items-center justify-content-start md:justify-content-center">
    <form #regForm="ngForm" class="page-dialog border-1 border-200">
        <div class="page-dialog__title border-bottom-1 pb-3 border-300">
            <span class="title font-medium text-color">Register</span>
            <button class="icon-btn outlined-btn" routerLink="/auth/login">
                <span class="material-symbols-rounded">login</span>
            </button>
        </div>

        <form class="page-dialog__content">
            <div class="grid m-0 mb-3 w-full">
                <div class="form-group p-0 pr-2 col-12 md:col-6">
                    <input type="text" class="input" placeholder="Username..."
                           [(ngModel)]="registerForm.username" name="username" required>
                </div>
                <div class="form-group p-0 pl-2 col-12 md:col-6">
                    <input type="email" class="input" placeholder="Email..."
                           [(ngModel)]="registerForm.email" name="email" required>
                </div>
            </div>

            <div class="form-group mb-3">
                <input type="password" placeholder="Enter password..."
                       [(ngModel)]="registerForm.password" name="password" required>
            </div>
        </form>

        <div class="page-dialog__actions border-top-1 pt-3 border-300">
            <button type="submit" class="btn filled-btn" (click)="register()" [disabled]="!regForm.form.valid">
                <i class="material-symbols-rounded">person_add</i>
                Register
            </button>
        </div>
    </form>
</div>
