<div class="flex flex-wrap align-items-center justify-content-between pt-5 pb-4" *ngIf="selectedTask == null">
    <h3 class="fw-bold my-2 fs-3">
        Project Tasks
    </h3>
    <div class="flex flex-wrap my-1 gap-2">
        <div class="nav-item" [class.active]="viewType == 'grid'" (click)="viewType = 'grid'">
            <i class="fa-duotone fa-grid-2-plus"></i>
        </div>
        <div class="nav-item" [class.active]="viewType == 'table'" (click)="viewType = 'table'">
            <i class="fa-duotone fa-diagram-cells"></i>
        </div>
    </div>
</div>

<div [ngSwitch]="viewType" *ngIf="selectedTask == null">
    <div *ngSwitchCase="'grid'" class="fadein grid">
        <div class="col-12 md:col-4 lg:col-12 xl:col-4" *ngFor="let status of statusList">
            <div class="flex align-items-center justify-content-between mb-3">
                <div [ngClass]="'grid-title bg-' + status.type">
                    <i [class]="status.icon" class="text-white"></i>
                    {{ status.name }}
                </div>
            </div>
            <ng-container *ngFor="let task of project.tasks">
                <div class="card mb-3 xl:mb-5" *ngIf="task.status.value == status.value">
                    <div class="card-body">
                        <div class="mb-2">
                            <a href="javascript:void(0)" (click)="manageTask(task)"
                               class="text-gray-900 fw-bold text-active-primary fs-4">
                                {{ task.title }}
                            </a>
                        </div>
                        <div class="fs-6 fw-semibold text-gray-600 m3-5" *ngIf="task.description.length > 0">
                            {{ task.description }}
                        </div>
                        <div class="flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <img [src]="task.assignees.photoURL" alt="" width="25" height="25"
                                     class="border-circle"/>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="border border-dashed border-gray-300 rounded d-flex align-items-center py-2 px-3">
                                    <i class="fa-duotone fa-diagram-subtask"></i>
                                    <span class="text-gray-600 fs-7">{{ completedSubtasks(task.subtasks) }} / {{ task.subtasks.length }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div *ngSwitchCase="'table'" class="fadein">
        <div class="card card-flush">
            <div class="card-body pt-2 px-4">
                <div class="table-responsive">
                    <table class="table">
                        <colgroup>
                            <col style="width: 0;">
                            <col style="width: 0;">
                            <col style="width: 0;">
                            <col style="width: 0;">
                            <col style="width: 0;">
                            <col style="width: 0;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th class="min-w-250px">Title</th>
                            <th class="min-w-150px">Due Date</th>
                            <th class="min-w-90px">Assigned To</th>
                            <th class="min-w-90px">Urgency</th>
                            <th class="min-w-90px">Status</th>
                            <th class="min-w-100px text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let task of currentPageTasks">
                            <td>
                                <a href="javascript:void(0)" (click)="manageTask(task)"
                                   class="text-gray-800 fw-bolder text-active-primary">
                                    {{ task.title }}
                                </a>
                            </td>
                            <td>
                                {{ task.dueDate | date: 'mediumDate' }}
                            </td>
                            <td>
                                <div class="relative flex align-items-center" *ngIf="task.assignees.uid != ''">
                                    <div class="d-flex align-items-center">
                                        <img [src]="task.assignees.photoURL" alt="" width="25" height="25"
                                             class="border-circle"/>
                                    </div>
                                </div>
                                <div *ngIf="task.assignees.uid == ''">
                                    --
                                </div>
                            </td>
                            <td>
                            <span class="message p-1 w-fit" [ngClass]="task.urgency.color"
                                  *ngIf="task.urgency">
                                {{ task.urgency.title }}
                            </span>
                            </td>
                            <td>
                            <span class="message p-1 w-fit" [ngClass]="task.status.type">
                                {{ task.status.name }}
                            </span>
                            </td>
                            <td class="text-center">
                                <button class="btn-icon btn-secondary btn-sm mr-1" (click)="manageTask(task)">
                                    <i class="fa-duotone fa-pencil"></i>
                                </button>
                                <button class="btn-icon btn-light-danger btn-sm"
                                        (click)="confirmDeleteTask(task, $event)">
                                    <i class="fa-duotone fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <pagination
                    [totalRecordCount]="project.tasks.length"
                    [rows]="8"
                    (onPageChange)="getCurrentPageTasks($event)"
                ></pagination>
            </div>
        </div>
    </div>
</div>

<div class="flex-row-fluid mt-5" *ngIf="selectedTask != null">
    <form #manageTaskForm="ngForm" class="grid grid-nogutter" (ngSubmit)="saveTaskChanges()">
        <div class="col-12 lg:col-3 pr-0 pb-5 lg-pr-5 flex flex-column gap-3">
            <div class="card card-flush py-3">
                <div class="card-header">
                    <h2 class="title">Status</h2>
                    <div class="card-toolbar">
                        <div class="border-circle w-15px h-15px bg-{{selectedTask.status.type}}">
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <mat-dropdown class="mb-2" [options]="statusList" [optionLabel]="'name'"
                                  [value]="selectedTask.status.value" [returnValue]="false"
                                  (valueChange)="selectedTask.status = $event"></mat-dropdown>
                    <span class="text-500 fs-7">
                        Set the task status.
                    </span>
                </div>
            </div>
            <div class="card card-flush py-3">
                <div class="card-header">
                    <h2 class="title">Due Date</h2>
                </div>
                <div class="card-body pt-0">
                    <input
                        type="date"
                        id="taskDueDate"
                        name="dueDate"
                        required
                        [(ngModel)]="selectedTask.dueDate"/>
                    <span class="text-500 fs-7">
                        Set the task due date.
                    </span>
                </div>
            </div>
            <div class="card card-flush py-3">
                <div class="card-header">
                    <h2 class="title">Urgency</h2>
                    <div class="card-toolbar">
                        <div class="border-circle w-15px h-15px bg-{{selectedTask.urgency.color}}">
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <mat-dropdown class="mb-2" [options]="urgencyList" [optionLabel]="'title'" [optionValue]="'code'"
                                  [value]="selectedTask.urgency.code" [returnValue]="false"
                                  (valueChange)="selectedTask.urgency = $event"></mat-dropdown>
                    <span class="text-500 fs-7">
                        Set the task urgency.
                    </span>
                </div>
            </div>
            <div class="card card-flush py-3" *ngIf="project.members.length > 0">
                <div class="card-header">
                    <h2 class="title">Assign To</h2>
                </div>
                <div class="card-body pt-0">
                    <mat-dropdown class="mb-2" [options]="project.members" [optionLabel]="'username'"
                                  [optionValue]="'uid'"
                                  [value]="selectedTask.assignees.uid" [returnValue]="false"
                                  (valueChange)="selectedTask.assignees = $event"></mat-dropdown>
                    <span class="text-500 fs-7">
                        Assign the task to a team member.
                    </span>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-9 pl-0 pb-3 lg:pl-5 flex flex-column gap-3">
            <div class="card card-flush py-3">
                <div class="card-header">
                    <h2 class="title">General</h2>
                </div>
                <div class="card-body pt-0">
                    <div class="form-group mb-5">
                        <label for="taskTitle" class="required">Task Name</label>
                        <input
                            type="text"
                            id="taskTitle"
                            name="title"
                            required
                            [(ngModel)]="selectedTask.title"/>
                        <span class="text-500 fs-7">
                            A task name should be short and descriptive.
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="taskDescription" class="fw-medium">Description</label>
                        <textarea
                            id="taskDescription"
                            name="description"
                            [(ngModel)]="selectedTask.description"></textarea>
                        <span class="text-500 fs-7">
                            Describe the task in detail.
                        </span>
                    </div>
                </div>
            </div>
            <div class="card card-flush py-3">
                <div class="card-header">
                    <h2 class="title">Subtasks</h2>
                </div>
                <div class="card-body pt-0">
                    <div class="flex flex-column gap-2">
                        <div class="subtask flex align-items-center gap-3"
                             *ngFor="let subtask of selectedTask.subtasks">
                            <div class="subtask-check pl-1" [class.checked]="subtask.checked"
                                 (click)="subtask.checked = !subtask.checked">
                                <i class="fa-regular fa-square fs-1"></i>
                                <i class="fa-regular fa-square-check fs-1"></i>
                            </div>
                            <input type="text" [(ngModel)]="subtask.title" [name]="subtask.id" class="flex flex-1"/>
                            <button class="btn-icon btn-light-danger btn-sm" type="button"
                                    (click)="removeSubtask(subtask)">
                                <i class="fa-regular fa-xmark"></i>
                            </button>
                        </div>
                    </div>
                    <button class="btn btn-light-primary btn-sm" [class.mt-3]="selectedTask.subtasks.length > 0"
                            type="button" (click)="addSubtask()">
                        <i class="fa-duotone fa-plus"></i>
                        Add Subtask
                    </button>
                </div>
            </div>
            <div class="flex justify-content-end mt-3 gap-3">
                <button type="button" class="btn btn-text" (click)="cancel()">
                    <i class="fa-duotone fa-times"></i>
                    Cancel
                </button>
                <button type="submit" class="btn btn-primary" [disabled]="manageTaskForm.invalid">
                    <i class="fa-duotone fa-save"></i>
                    Save Changes
                </button>
            </div>
        </div>
    </form>
</div>

<p-confirmPopup></p-confirmPopup>
