<div class="flex flex-wrap align-items-center justify-content-between pt-5 pb-4" *ngIf="selectedTask == null">
    <h3 class="fw-bold my-2 fs-3">
        Project Tasks
    </h3>
    <div class="flex flex-wrap my-1 gap-2">
        <div class="nav-item" [class.active]="viewType == 'grid'" (click)="viewType = 'grid'">
            <i class="fa-duotone fa-grid-2-plus"></i>
        </div>
        <div class="nav-item" [class.active]="viewType == 'table'" (click)="viewType = 'table'">
            <i class="fa-duotone fa-diagram-cells"></i>
        </div>
    </div>
</div>

<div [ngSwitch]="viewType" *ngIf="selectedTask == null">
    <div *ngSwitchCase="'grid'" class="fadein grid">
        <div class="col-12 md:col-4 lg:col-12 xl:col-4" *ngFor="let status of statusList">
            <div class="flex align-items-center justify-content-between mb-3">
                <div [ngClass]="'grid-title bg-' + status.type">
                    <i [class]="status.icon" class="text-white"></i>
                    {{ status.name }}
                </div>
            </div>
            <ng-container *ngFor="let task of project.tasks">
                <div class="card mb-3 xl:mb-5" *ngIf="task.status.value == status.value">
                    <div class="card-body">
                        <div class="mb-2">
                            <a href="javascript:void(0)" (click)="manageTask(task)"
                               class="text-900 fw-bold text-active-primary fs-4">
                                {{ task.title }}
                            </a>
                        </div>
                        <div class="fs-6 fw-semibold text-600 m3-5" *ngIf="task.description.length > 0">
                            {{ task.description }}
                        </div>
                        <div class="flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <img [src]="task.assignees.photoURL" alt="" width="25" height="25"
                                     class="border-circle" *ngIf="task.assignees.photoURL.length > 0 "/>
                            </div>
                            <div class="flex align-items-center gap-2">
                                <div
                                    class="border border-dashed border-500 rounded d-flex align-items-center p-2 gap-2 flex align-items-center justify-content-center">
                                    <i class="fa-duotone fa-diagram-subtask"></i>
                                    <span class="text-gray-600 fs-7">{{ completedSubtasks(task.subtasks) }}
                                        / {{ task.subtasks.length }}</span>
                                </div>
                                <div
                                    class="border border-dashed border-500 rounded d-flex align-items-center p-2 gap-2 flex align-items-center justify-content-center">
                                    <i class="fa-duotone fa-calendar"></i>
                                    <span class="text-gray-600 fs-7">{{ task.dueDate | date: 'mediumDate' }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div *ngSwitchCase="'table'" class="fadein">
        <div class="card card-flush">
            <div class="card-body pt-2 px-4">
                <div class="table-responsive">
                    <table class="table">
                        <colgroup>
                            <col style="width: 0;">
                            <col style="width: 0;">
                            <col style="width: 0;">
                            <col style="width: 0;">
                            <col style="width: 0;">
                            <col style="width: 0;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th class="min-w-250px">Title</th>
                            <th class="min-w-150px">Due Date</th>
                            <th class="min-w-90px">Assigned To</th>
                            <th class="min-w-90px">Urgency</th>
                            <th class="min-w-90px">Status</th>
                            <th class="min-w-100px text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let task of currentPageTasks">
                            <td>
                                <a href="javascript:void(0)" (click)="manageTask(task)"
                                   class="text-800 fw-bolder text-active-primary">
                                    {{ task.title }}
                                </a>
                            </td>
                            <td>
                                {{ task.dueDate | date: 'mediumDate' }}
                            </td>
                            <td>
                                <div class="relative flex align-items-center" *ngIf="task.assignees.uid != ''">
                                    <div class="d-flex align-items-center">
                                        <img [src]="task.assignees.photoURL" alt="" width="25" height="25"
                                             class="border-circle"/>
                                    </div>
                                </div>
                                <div *ngIf="task.assignees.uid == ''">
                                    --
                                </div>
                            </td>
                            <td>
                            <span class="message p-1 w-fit" [ngClass]="task.urgency.color"
                                  *ngIf="task.urgency">
                                {{ task.urgency.title }}
                            </span>
                            </td>
                            <td>
                            <span class="message p-1 w-fit" [ngClass]="task.status.type">
                                {{ task.status.name }}
                            </span>
                            </td>
                            <td class="text-center">
                                <button class="btn-icon btn-secondary btn-sm mr-1" (click)="manageTask(task)">
                                    <i class="fa-duotone fa-pencil"></i>
                                </button>
                                <button class="btn-icon btn-light-danger btn-sm"
                                        (click)="confirmDeleteTask(task, $event)">
                                    <i class="fa-duotone fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <pagination
                    [totalRecordCount]="project.tasks.length"
                    [rows]="8"
                    (onPageChange)="getCurrentPageTasks($event)"
                ></pagination>
            </div>
        </div>
    </div>
</div>

<app-task [task]="selectedTask" [members]="users" (onCancel)="cancel()" (onSave)="saveTaskChanges($event)"
          (onDelete)="onTaskDelete($event)"></app-task>

<p-confirmPopup></p-confirmPopup>
