@import '../../../styles'

.nav-item
    height: 34.813px
    width: 34.813px
    border-radius: $border-radius-sm
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    transition: background-color 0.3s, color 0.3s
    font-size: 20px
    color: #99A1B7

    &:hover,
    &.active
        background-color: $color-primary
        color: #fff
