<div class="textarea-container" [class.gap-0]="label === '' && icon === ''" [class.align-items-center]="label === ''"
     [class.flex-row]="label === ''" [class.disabled]="disabled" [class.active]="isFocused || value.length !== 0"
     [class.error]="error">
    <div class="label-container">
        <i class="material-symbols-rounded" *ngIf="icon.length > 0">{{ icon }}</i>
        <label class="floating-label" *ngIf="label !== ''">
            {{ label }}
        </label>
        <span class="required-asterisk" *ngIf="required">*</span>
    </div>
    <div class="textarea-text-container">
        <textarea #textAreaRef class="textarea" [ngModel]="value" name="{{ name }}"
                  [disabled]="disabled" (focus)="onFocus()" (blur)="onBlur()" [placeholder]="placeholder"
                  (ngModelChange)="verifyTextarea(); valueChange.emit($event)"
                  (input)="onInput(textAreaRef)"></textarea>
        <div class="textarea-actions flex align-self-start" *ngIf="showClear && value.length !== 0">
            <button class="icon-btn" (click)="clear(textAreaRef)">
                <i class="material-symbols-rounded">close</i>
            </button>
        </div>
    </div>
    <div class="textarea-helpers" *ngIf="helperText.length > 0 || showCounter || maxLength > 0" [class.error]="error">
        <span class="helper-text">{{ helperText }}</span>

        <div class="counter-container">
            <span class="counter-text" *ngIf="showCounter">{{ value.length }}</span>
            <span class="counter-text" *ngIf="showCounter && maxLength > 0">/</span>
            <span class="counter-text" *ngIf="maxLength > 0">{{ maxLength }}</span>
        </div>
    </div>
</div>
