<div class="menu">
    <button class="btn-icon btn-text p-4" ripple>
        @if (user && user.photoURL) {
            <img class="avatar border-circle" [src]="user.photoURL" width="42" height="42" [alt]="user.displayName">
        } @else {
            <i class="material-symbols-outlined">account_circle</i>
        }
    </button>
    @if (showMenu) {
        <div class="menu-content fadein right-0">
            @for (item of items; track item.title) {
                <div class="menu-item" [class.border-top]="item.divider" (click)="item.action()" ripple>
                    @if (item.icon) {
                        <i class="material-symbols-outlined text-xl">{{ item.icon }}</i>
                    }
                    {{ item.title }}
                </div>
            }
        </div>
    }
</div>
