<div class="calendar">
    <div class="calendar-input" (click)="showModal = !showModal">
        <span class="flex flex-1 text-900 fw-semibold">
            {{ value | date:'dd/MM/yyyy' }}
        </span>

        <button
            class="btn btn-primary"
            type="button">
            <i class="fa-duotone fa-calendar"></i>
        </button>
    </div>
    <div
        class="calendar-modal"
        [class.show]="showModal"
        [class.show-top]="isBottomPage"
        [class.show-bottom]="!isBottomPage">
        <header>
            <div class="flex align-items-center gap-2">
                <span class="fs-5 fw-bold text-900 text-active-primary cursor-pointer" id="selectedMonth"
                      (click)="onViewChange('months')">
                    {{ months[selectedMonth] }}
                </span>
                <span class="fs-5 fw-semibold text-500 text-active-primary cursor-pointer" id="selectedYear"
                      (click)="onViewChange('years')">
                    {{ selectedYear }}
                </span>
            </div>

            <div class="flex align-items-center gap-2">
                <button
                    class="btn-icon btn-outline btn-sm border-circle"
                    type="button"
                    (click)="onPrev()">
                    <i class="far fa-chevron-left"></i>
                </button>
                <button
                    class="btn-icon btn-outline btn-sm border-circle"
                    type="button"
                    (click)="onNext()">
                    <i class="far fa-chevron-right"></i>
                </button>
            </div>
        </header>

        <div [ngSwitch]="currentView">
            <div *ngSwitchCase="'days'" class="fadein p-3">
                <table>
                    <thead>
                        <tr>
                            <th *ngFor="let day of days" class="fs-5 text-500 fw-semibold text-center pb-2">
                                {{ day.substring(0, 2) }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let week of weeks">
                            <td *ngFor="let day of week" class="text-center">
                                <div class="day"
                                     [class.not-in-month]="day.month !== selectedMonth"
                                     (click)="onDaySelected(day)"
                                     [class.today]="day.day === selectedDay && day.month === selectedMonth"
                                     [class.selected]="isSelectedDay(day)">
                                    {{ day.day }}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div *ngSwitchCase="'months'" class="fadein">
                <div class="flex flex-column gap-3">
                    <div class="flex flex-row flex-wrap gap-1 calendar-months-header">
                        <div *ngFor="let month of months; let i = index" class="month"
                             [class.selected]="selectedMonth === i"
                             (click)="onMonthSelected(i)">
                            {{ month.substring(0, 3) }}
                        </div>
                    </div>
                </div>
            </div>

            <div *ngSwitchCase="'years'" class="fadein">
                <!--<div class="calendar-years">
                    <div class="calendar-years-body">
                        <div *ngFor="let year of y" class="calendar-years-body-item"
                             [class.selected]="selectedYear === year"
                             (click)="onSelectYear(year)">
                            {{ year }}
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
