<div class="flex flex-column flex-row-fluid" [busyIf]="loading">
    <div class="toolbar pb-3 pt-0 md:pt-4">
        <div class="container flex align-items-center justify-content-between flex-wrap">
            <div class="page-title flex flex-column mr-2">
                <h1 class="flex text-white fw-bold my-1 text-lg">
                    My Projects
                </h1>
                <div class="breadcrumb">
                    <a routerLink="/" class="breadcrumb-item">Home</a>
                    <span class="breadcrumb-item">-</span>
                    <a routerLink="/projects" class="breadcrumb-item">Projects</a>
                </div>
            </div>
            <div class="flex align-items-center py-2 md:py-1">
                <form #searchProjectForm="ngForm" class="searchbar relative flex align-items-center mr-3 border-round-lg text-white"
                      style="background-color: rgba(255, 255, 255, .1)">
                    <i class="fa-duotone fa-magnifying-glass absolute" style="left:16px"></i>
                    <input type="search" class="w-100 bg-transparent text-white ml-4 border-none pl-3" placeholder="Search Project" name="search"
                           [(ngModel)]="searchProject" (ngModelChange)="searchProjects()">
                </form>
                <button class="btn btn-light" pRipple (click)="createOrEditProject()">
                    Create
                </button>
            </div>
        </div>
    </div>

    <div class="container flex flex-1 flex-column">
        <div class="grid">
            <div class="col-12 md:col-6 xl:col-4" *ngFor="let project of currentPageProjects; let i = index">
                <a class="card border-hover-primary cursor-pointer" [routerLink]="['/projects/' + project.id]">
                    <div class="card-header border-none pt-4">
                        <img [src]="project.image" width="40px" height="40px" class="rounded"
                             *ngIf="project.image.length > 0">
                        <i class="fa-duotone fa-image text-6xl" *ngIf="project.image.length == 0"></i>
                    </div>

                    <div class="card-body">
                        <div class="flex flex-column gap-2 mb-3">
                            <div class="text-lg fw-bold text-900">
                                {{ project.title }}
                            </div>
                            <p class="text-500 fw-semibold text-base" *ngIf="project.description.length > 0">
                                {{ project.description }}
                            </p>
                        </div>

                        <div class="flex align-items-center gap-4 mb-4">
                            <div class="flex flex-column gap-2 border-1 border-dashed border-500 border-round-md p-2">
                            <span class="text-800 fw-bold text-base">
                                {{ getTasksOfStatus(statusList[1].value, project) }}
                            </span>
                                <span class="fw-semibold text-500">
                                Ongoing Tasks
                            </span>
                            </div>
                            <div class="flex flex-column gap-2 border-1 border-dashed border-500 border-round-md p-2">
                            <span class="text-800 fw-bold text-base">
                                {{ getTasksOfStatus(statusList[2].value, project) }}
                            </span>
                                <span class="fw-semibold text-500">
                                Completed Tasks
                            </span>
                            </div>
                        </div>

                        <div class="progress-bar mb-4">
                            <div class="progress" [style.width]="getProgress(project) + '%'"></div>
                        </div>

                        <div class="flex flex-wrap align-items-center overflow-x-auto relative">
                            <div class="avatar border-circle">
                                <img [src]="project.owner.photoURL" width="35px" height="35px" class="border-circle"
                                     [alt]="project.owner.username + ' avatar'">
                            </div>
                            <div class="avatar border-circle relative" style="left: -10px" *ngFor="let member of project.members">
                                <img [src]="member.photoURL" width="35px" height="35px" class="border-circle"
                                     [alt]="member.username + ' avatar'">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <pagination
            [totalRecordCount]="projects.totalRecords"
            [rows]="projects.countsPerPage"
            (onPageChange)="getCurrentPageProjects($event)"
        ></pagination>
    </div>
</div>

<p-confirmPopup></p-confirmPopup>

<div class="modal" [class.show]="showAddProjectModal">
    <div class="overlay" (click)="closeProjectModal()"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="dialog-title">
                    {{ selectedProject.id ? 'Edit Project' : 'Add Project' }}
                </span>

                <div class="dialog-actions">
                    <button type="button" ripple class="btn-icon btn-light-primary btn-sm" (click)="closeProjectModal()">
                        <i class="fa-duotone fa-xmark"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="flex flex-column gap-3">
                    <input type="text" [(ngModel)]="selectedProject.title" class="w-100" placeholder="Project Title"
                           required>

                    <textarea [(ngModel)]="selectedProject.description" class="w-100" placeholder="Project Description"
                              required></textarea>
                    <div class="flex flex-column gap-3" *ngIf="selectedProject.id">
                        <input type="text" [(ngModel)]="userEmailToShare" class="w-100"
                               placeholder="Share with... (email)">

                        <div class="flex flex-row-reverse w-full">
                            <button class="btn filled-btn small-btn" (click)="shareProject()">
                                <i class="material-symbols-rounded">share</i>
                                Share
                            </button>
                        </div>
                    </div>
                </div>

                <div class="divider" *ngIf="selectedProject.id"></div>

                <!-- list of users shared -->
                <div class="flex flex-wrap gap-2">
                    <div class="card nohover px-2 p-1" style="width: auto; flex-grow: 1"
                         *ngFor="let member of selectedProject.members">
                        <div class="card-header gap-2">
                            <img [src]="member.photoURL" width="25px" height="25px" class="border-circle"
                                 [alt]="member.username + ' avatar'">
                            <div class="title w-full">
                                {{ member.email }}
                            </div>
                            <button class="icon-btn text-btn danger-color-only small-btn"
                                    *ngIf="selectedProject.owner.uid === user.uid"
                                    (click)="removeUserFromProject(member)">
                                <span class="material-symbols-rounded">close</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ripple class="icon-btn text-btn" (click)="addProject()"
                        [disabled]="setDisabled()">
                    <i class="material-symbols-rounded">save</i>
                </button>
            </div>
        </div>
    </div>
</div>
