<div class="flex align-items-center justify-content-between p-3 pl-5 pr-5">
    <span class="text-3xl font-black text-color">Projects</span>

    <button class="btn btn-primary" (click)="showAddProjectModal = true">
        <i class="material-symbols-rounded">add</i>
        Project
    </button>
</div>

<div class="p-5 flex gap-5">
    <mat-dropdown class="w-50 mb-3" [options]="projectOptions" [placeholder]="'Select a project'"
        [ngModel]="selectedProject" [showClear]="true"></mat-dropdown>

    <mat-input class="w-50 mb-3" [placeholder]="'Enter Email'" [icon]="'alternate_email'" [showClear]="true"
        [inputType]="'email'" [ngModel]="inputVar" [helperText]="'Helper text'" [maxLength]="30"
        [required]="true"></mat-input>

    <mat-textarea class="w-50 mb-3" [placeholder]="'Enter Description'" [icon]="'description'" [showClear]="true"
        [ngModel]="inputVar" [required]="true"></mat-textarea>
</div>

<div class="grid grid-nogguter p-3 pl-5 pr-5">
    <div class="col-12 md:col-6 lg:col-4 xl:col-3" *ngFor="let project of projects">
        <div class="project-card" (click)="navigateToProject(project)">
            <div class="flex align-items-center justify-content-between">
                <div class="project-info">
                    <span class="text-base text-color">{{ project.title }}</span>
                    <span class="text-sm text-secondary">{{ project.description }}</span>
                </div>
                <div class="project-actions flex gap-1">
                    <button class="btn btn-icon" (click)="editProjectSetup(project, $event)">
                        <span class="material-symbols-rounded">
                            edit
                        </span>
                    </button>
                    <button class="btn btn-icon" (click)="confirmDeleteProject($event, project.id)">
                        <span class="material-symbols-rounded">
                            delete
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dialog-container" [class.active]="showAddProjectModal">
    <div class="overlay" (click)="closeProjectModal()"></div>
    <div class="dialog">
        <div class="dialog-header">
            <button class="btn btn-icon text fw-bold" (click)="showAddProjectModal = false">
                <span class="material-symbols-rounded text-secondary">
                    minimize
                </span>
            </button>
        </div>
        <div class="dialog-content">
            <div class="flex gap-3">
                <div class="flex flex-column gap-2 w-100px">
                    <img [src]="project.image" alt="Project Image" class="project-image" *ngIf="project.image">
                    <input type="file" hidden #projectImage accept="image/*">
                </div>
                <div class="flex flex-column gap-2 w-auto flex-grow-1">
                    <input type="text" id="title" placeholder="Enter a title..." [(ngModel)]="project.title">
                    <textarea id="description" placeholder="Enter a description..."
                        [(ngModel)]="project.description"></textarea>
                </div>
            </div>
        </div>
        <div class="dialog-footer">
            <button type="button" class="btn btn-secondary" (click)="showAddProjectModal = false">
                <span class="material-symbols-rounded">
                    close
                </span>
                Cancel
            </button>
            <button type="button" class="btn btn-primary" (click)="addProject()">
                <span class="material-symbols-rounded">
                    add
                </span>
                Project
            </button>
        </div>
    </div>
</div>

<p-confirmPopup></p-confirmPopup>
