@defer {
    @if (selectedProject != null) {
        <main>
            @switch (currentUrlSection) {
                @case ('summary') {
                    <app-project-summary [project]="selectedProject"></app-project-summary>
                }
                @case ('board') {
                    <app-project-board [project]="selectedProject"></app-project-board>
                }
                @case ('list') {
                    <app-project-list [project]="selectedProject"></app-project-list>
                }
            }
        </main>
    }
} @loading {
    <p-progress-spinner ariaLabel="loading"/>
}
