.project-card
    border: 1px solid #F0F0F1
    border-radius: 4px
    padding: 6px 16px
    cursor: pointer
    transition: all 0.3s ease

    &:hover
        background-color: #F5F7F9

    &:active
        box-shadow: 0 0 0 2px #0662fe
