@if (showModal) {
    <div class="modal">
        <div class="overlay" (click)="showModal = false"></div>
        <div class="modal-container">
            <header class="flex align-items-center justify-content-end gap-3">
                <button class="btn btn-icon btn-sm" (click)="deleteTask.emit(task); showModal = false">
                    <i class="material-symbols-outlined text-danger">delete</i>
                </button>
                <button class="btn btn-icon btn-sm" (click)="showModal = false">
                    <i class="material-symbols-outlined">close</i>
                </button>
            </header>

            <div class="flex flex-column">
                <div class="flex align-items-center gap-4 px-4 mb-3">
                    <i class="text-secondary material-symbols-outlined text-xl">title</i>
                    <input type="text" [(ngModel)]="task.name" class="title-input w-full">
                </div>
                <div class="flex align-items-center gap-3 px-4 mb-3">
                    <i class="text-secondary material-symbols-outlined text-xl">calendar_today</i>
                </div>

                <div class="border-top border-bottom py-3 px-4 flex align-items-start gap-3">
                    <i class="text-secondary material-symbols-outlined text-xl mt-2">subject</i>
                    <textarea [(ngModel)]="task.description" class="w-full" [rows]="task.description ? 5 : 1"></textarea>
                </div>

                <div class="border-bottom py-3 px-4 flex align-items-start gap-3">
                    <i class="text-secondary material-symbols-outlined text-xl mt-2">list_alt</i>
                    <div class="flex flex-column gap-2 w-full">
                        @for (subtask of task.subtasks; track subtask.id) {
                            <div class="flex align-items-center gap-2 w-full">
                                <button class="btn btn-icon btn-sm" (click)="subtask.completed = !subtask.completed">
                                    @if (subtask.completed) {
                                        <i class="material-symbols-outlined">check_box</i>
                                    } @else {
                                        <i class="material-symbols-outlined">check_box_outline_blank</i>
                                    }
                                </button>

                                <input type="text" [(ngModel)]="subtask.description" class="w-full">

                                <button class="btn btn-icon btn-sm" (click)="removeSubtask(subtask)">
                                    <i class="material-symbols-outlined text-danger">delete</i>
                                </button>
                            </div>
                        }

                        <button class="btn btn-outline btn-sm w-fit" (click)="addSubtask()">
                            <i class="material-symbols-outlined">add</i>
                            Add Subtask
                        </button>
                    </div>
                </div>
            </div>

            <footer>
                <button class="btn btn-text" ripple (click)="showModal = false">
                    <i class="material-symbols-outlined">close</i>
                    Close
                </button>
                <button class="btn btn-filled" ripple (click)="onSave.emit(task);">
                    <i class="material-symbols-outlined">save</i>
                    Save
                </button>
            </footer>
        </div>
    </div>
}
