@import "../../../../../styles"

.task-card
    border-radius: 10px
    background-color: $surface-0
    cursor: pointer
    padding: 8px
    transition: all 0.3s ease-in-out
    border: 1px solid $border-color
    display: flex
    flex-direction: column

    &:hover
        box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.4)
        border: 1px solid $color-primary
