.card
    border-radius: 6px
    text-align: start
    padding: 12px 16px
    transition: all 0.3s ease-in-out

    &.card-elevated
        box-shadow: $elevation-1
        background-color: $surface-container

        &:hover
            box-shadow: $elevation-2
            background-color: rgba($on-surface, 0.08)

        &:focus
            box-shadow: $elevation-1
            background-color: rgba($on-surface, 0.1)

    &.card-filled
        background-color: $surface

        &:hover
            box-shadow: $elevation-1
            background-color: rgba($on-surface, 0.08)

        &:focus
            box-shadow: none
            background-color: rgba($on-surface, 0.1)

    &.card-outlined
        background-color: $surface
        border: 1px solid $outline-variant

        &:hover
            box-shadow: $elevation-1
            background-color: rgba($on-surface, 0.08)

        &:focus
            box-shadow: none
            background-color: rgba($on-surface, 0.1)

.panel
    border: 1px solid #F1F1F4
    color: $on-surface
    background-color: $surface-container-lowest
    border-radius: 12px
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.03)
