$primary: #93C5FD
$on-primary: #000000
$primary-container: #1E293B
$on-primary-container: #ffffff

$secondary: #334155
$on-secondary: #ffffff
$secondary-container: #4A5568
$on-secondary-container: #ffffff

$tertiary: #000000
$on-tertiary: #ffffff
$tertiary-container: #1E293B
$on-tertiary-container: #ffffff

$error: #c62828
$on-error: #ffffff
$error-container: #ffcdd2
$on-error-container: #4b0000

$warning: #f57c00
$on-warning: #ffffff
$warning-container: #ffecb3
$on-warning-container: #bb7f03

$success: #2e7d32
$on-success: #ffffff
$success-container: #c8e6c9
$on-success-container: #005005

$surface-dim: #1E293B
$surface: #334155
$surface-bright: #4A5568
$surface-container-lowest: #020617
$surface-container-low: #0F172A
$surface-container: #1E293B
$surface-container-high: #2D3D58
$surface-container-highest: #475569
$on-surface: #ffffff
$on-surface-variant: #94A3B8
$outline: #2E3B4E
$outline-variant: #475569

$inverse-surface: #ffffff
$on-inverse-surface: #1E293B
$inverse-primary: #1E293B

$scrim: #000000
$shadow: #000000

.ripple-parent
    position: relative
    overflow: hidden

    .ripple
        position: absolute
        border-radius: 50%
        background: rgba(0, 0, 0, 0.3)
        transform: scale(0)
        animation: ripple $motion-duration-long4 linear
        pointer-events: none

@keyframes ripple
    to
        transform: scale(4)
        opacity: 0
