.menu
    position: relative

    button.btn-icon
        color: $on-surface-variant

    .menu-content
        position: fixed
        border-radius: 4px
        width: 220px
        padding: 8px 0
        background-color: $surface-container
        box-shadow: $elevation-2
        z-index: 50
        display: flex
        flex-direction: column
        animation: slide-in 0.3s ease-in-out

        .menu-item
            padding: 0 12px
            color: $on-surface
            height: 48px
            display: flex
            align-items: center
            gap: 8px
            font-size: 14px
            font-weight: 400
            cursor: pointer
            transition: all 0.3s ease-in-out

            i
                color: $on-surface-variant

            &:hover
                background-color: rgba($on-surface, 0.08)

            &.active
                background-color: $secondary-container
                color: $on-secondary-container

@keyframes slide-in
    from
        transform: translateY(10px)
        opacity: 0
    to
        transform: translateY(0)
        opacity: 1
