nav
    display: flex
    justify-content: space-between
    gap: 42px
    background-color: transparent
    border-bottom: 1px solid $outline
    color: $on-surface
    width: 100%

    .logo-container
        display: flex
        align-items: center
        gap: 12px
        color: $on-surface
        text-decoration: none !important

        img
            width: 40px
            height: 40px
            // anti-aliasing
            image-rendering: -webkit-optimize-contrast // Safari
            image-rendering: optimizeQuality // Chrome
            -ms-interpolation-mode: nearest-neighbor // IE

        h1
            font-size: 18px
            font-weight: 500

    .btn.btn-text
        color: $on-inverse-surface

        &:hover
            background-color: rgba(255, 255, 255, 0.2)

        &:active
            background-color: rgba(255, 255, 255, 0.3)

    .nav-link
        border-radius: 6px
        padding: 10px 14px
        text-decoration: none
        color: $on-inverse-surface
        background-color: rgba(255, 255, 255, 0.2)
        display: flex
        align-items: center
        justify-content: center
        font-weight: 500
        font-size: 15px
        transition: all 0.2s ease-in-out

        &:hover,
        &.active
            background-color: white
            color: $on-surface

    @media (max-width: 768px)
        padding: 12px
        gap: 24px
