.tabs
    display: flex
    align-items: center
    gap: 8px
    height: 100%

    .tab
        padding: 8px 24px
        border-radius: 25px 25px 25px 25px
        cursor: pointer
        display: flex
        align-items: center
        justify-content: center
        gap: 8px
        position: relative
        color: $on-surface
        font-weight: 500
        font-size: 16px
        height: 100%
        transition: all 0.3s ease-in-out
        overflow: hidden

        &:hover
            color: $primary-container

        &.active,
        &:hover
            color: $on-primary-container
            background-color: $primary-container
