.tabs
    display: flex
    align-items: center
    gap: 8px

    .tab
        padding: 8px 24px
        border-radius: 12px 12px 0 0
        cursor: pointer
        display: flex
        align-items: center
        justify-content: center
        gap: 8px
        position: relative
        color: rgba($secondary-color, 0.5)
        font-weight: 500
        font-size: 16px

        &::after
            position: absolute
            bottom: 0
            left: 50%
            transform: translateX(-50%), scaleX(0)
            content: ""
            width: 0
            height: 2px
            background-color: $color-primary
            transition: all 0.3s ease-in-out
            transform-origin: center

        &:hover
            color: $color-primary

        &.active
            color: $color-primary

            &::after
                width: 100%
                transform: translateX(-50%) scaleX(1)
