<div class="grid h-full">
    <div class="col-12 lg:col-8">
        <div class="flex align-items-center justify-content-between mb-1">
            <div class="flex align-items-center">
                <h1 class="m-0 text-2xl font-medium">Project List</h1>
            </div>

            <button class="btn btn-outline" (click)="showAddProjectModal = true">
                <span class="material-icons">add</span>
                Project
            </button>
        </div>
        <div class="flex flex-column" *ngIf="!loading && !project">
            <div cdkDropList
                class="flex overflow-x-auto gap-2 md:gap-5 flex-column md:flex-row pb-3 mt-2 border-bottom-1 border-300"
                (cdkDropListDropped)="drop($event)" cdkDropListOrientation="horizontal">
                <div class="project relative d-flex flex-row justify-content-between align-items-center gap-2"
                    *ngFor="let project of projects; let i = index" cdkDrag>
                    <div class="btn btn-primary align-items-start flex flex-column p-2 pl-2 pr-3"
                        (click)="navigateToProject(project)">
                        <div class="flex gap-2 align-items-center">
                            <span class="material-symbols-rounded">view_kanban</span>
                            {{project.title}}
                        </div>
                        <div class="flex flex-column">
                            <span class="text-white">Tasks:</span>
                            <div class="flex align-items-center gap-2 p-1">
                                <span class="font-medium text-white">0</span>
                                <div class="tasks-bar w-100">
                                    <div class="tasks-bar-progress"
                                        [style]="{ width: (getTasksFromCompletedColumn(project) / getTasksCount(project)) * 100 + '%' }">
                                    </div>
                                </div>
                                <span class="font-medium text-white">{{ getTasksCount(project) }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="btn btn-icon text absolute" style="top:4px;right:4px;z-index:1111"
                        (click)="confirmDeleteProject($event, project.id)">
                        <span class="material-symbols-rounded text-white text-base">close</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid mt-3">
            <div class="col w-full">
                <div class="panel">
                    <div
                        class="flex flex-column md:flex-row align-items-left gap-2 md:align-items-center justify-content-start md:justify-content-between mb-3">
                        <span class="font-bold text-lg">Total Tasks</span>
                        <div class="flex flex-row align-items-center gap-3 legend">
                            <div class="flex flex-row align-items-center gap-2" *ngFor="let project of projects">
                                <div class="legend-item" [style]="{ 'background-color': project.color }"></div>
                                <span class="text-sm font-bold">{{ project.title }}</span>
                            </div>
                        </div>
                    </div>
                    <p-chart type="bar" [data]="data" [options]="options"></p-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-4 h-full">
        <div class="panel p-0 md:p-3 h-full" style="overflow-y: auto">
            <span class="font-bold text-lg block p-3 md:p-0 pb-0">Recent Work Progress</span>

            <div *ngFor="let currentWeekTask of currentWeekTasks">
                <div class="flex flex-column gap-0 md:gap-2" *ngIf="currentWeekTask.tasks.length > 0 ">
                    <div class="flex align-items-center gap-3 p-2 cursor-pointer"
                        (click)="showTasksFromProject = currentWeekTask.project"
                        style="border-bottom: 1px solid #E1E3E8">
                        <span class="material-icons text-500"
                            *ngIf="showTasksFromProject === currentWeekTask.project">keyboard_arrow_down</span>
                        <span class="material-icons text-500"
                            *ngIf="showTasksFromProject !== currentWeekTask.project">keyboard_arrow_up</span>
                        <span class="font-bold">{{ currentWeekTask.project }}</span>
                        <span class="text-500">{{ currentWeekTask.tasks.length }} tasks</span>
                    </div>

                    <div *ngIf="showTasksFromProject === currentWeekTask.project">
                        <app-card class="col-12 p-0 md:p-2" *ngFor="let taskContainer of currentWeekTask.tasks"
                            [taskProjectId]="taskContainer.projectId" [task]="taskContainer.task">
                        </app-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-confirmPopup appendTo="body"></p-confirmPopup>
</div>

<div class="dialog-container" *ngIf="showAddProjectModal">
    <div class="overlay" (click)="showAddProjectModal = false; projectTitle = ''"></div>
    <div class="dialog">
        <div class="dialog-header">
            <span class="dialog-title">Add Project</span>
            <button class="btn btn-icon" (click)="showAddProjectModal = false">
                <span class="material-icons">
                    close
                </span>
            </button>
        </div>
        <div class="dialog-content">
            <div class="flex flex-column gap-2">
                <label for="title">Project Title</label>
                <input type="text" id="title" placeholder="Enter a title..." [(ngModel)]="projectTitle">
            </div>
        </div>
        <div class="dialog-footer">
            <button type="button" class="btn btn-secondary" (click)="showAddProjectModal = false">
                <span class="material-icons">
                    close
                </span>
                Cancel
            </button>
            <button type="button" class="btn btn-primary" (click)="addProject()">
                <span class="material-icons">
                    add
                </span>
                Project
            </button>
        </div>
    </div>
</div>
