.panel
    padding: 16px
    border-radius: 8px
    background-color: white

.project-card
    cursor: pointer
    transition: all 0.3s ease

    &:hover
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1)

.project
    .tasks-bar
        height: 8px
        border-radius: 8px
        background-color: rgba(255,255,255,0.5)
        width: 125px
        position: relative

        div
            height: 100%
            background: white
            display: block
            border-radius: 8px

.legend-item
    height: 8px
    width: 8px
    border-radius: 50%

::ng-deep .p-multiselect,
::ng-deep .p-dropdown
    width: 100%

.project
    .btn-icon
        display: none

    &:hover
        .btn-icon
            display: flex

// mobile
@media screen and (max-width: 768px)
    .project
        .btn-icon
            display: flex
