<div class="h-full bg-color">
    <div class="flex flex-column" *ngIf="!loading">
        <div class="flex align-items-center justify-content-between p-3">
            <span class="headline-md line-height-4 text-color font-medium">Projects</span>
            <button class="btn filled-btn" (click)="createOrEditProject()">
                Add Project
            </button>
        </div>

        <div class="table" *ngIf="projectsTable.items.length > 0">
            <div class="table-header">
                <div class="header-cell justify-content-start">
                    <i class="material-symbols-rounded hidden md:block">title</i>
                    Name
                </div>
                <div class="header-cell text-center sortable">
                    <i class="material-symbols-rounded hidden md:block">assignment</i>
                    Total Tasks
                </div>
                <div class="header-cell text-center sortable">
                    <i class="material-symbols-rounded hidden md:block">hourglass_empty</i>
                    Ongoing Tasks
                </div>
                <div class="header-cell text-center sortable">
                    <i class="material-symbols-rounded hidden md:block">check_circle</i>
                    Completed Tasks
                </div>
                <div class="header-cell text-center">
                    <i class="material-symbols-rounded hidden md:block">settings</i>
                    Actions
                </div>
            </div>

            <div class="table-row" *ngFor="let project of projectsTable.items">
                <div class="table-cell font-medium">
                    {{ project.title }}
                </div>
                <div class="table-cell justify-content-center">
                    {{ project.tasks.length }}
                </div>
                <div class="table-cell justify-content-center">
                    {{ getTasksOfStatus(statusList[1].name, project) }}
                </div>
                <div class="table-cell justify-content-center">
                    {{ getTasksOfStatus(statusList[3].name, project) }}
                </div>
                <div class="table-cell justify-content-center">
                    <button class="icon-btn text-btn small-btn"
                            (click)="navigateToProject(project)">
                        <span class="material-symbols-rounded">arrow_forward</span>
                    </button>

                    <button class="icon-btn text-btn small-btn"
                            (click)="createOrEditProject(project)">
                        <span class="material-symbols-rounded">edit</span>
                    </button>

                    <button class="icon-btn text-btn small-btn"
                            *ngIf="project.owner.uid === user.uid"
                            (click)="confirmDeleteProject($event, project)">
                        <span class="material-symbols-rounded">delete</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<p-confirmPopup></p-confirmPopup>

<div class="dialog-container" *ngIf="showAddProjectModal">
    <div class="overlay" (click)="closeProjectModal()"></div>
    <div class="dialog">
        <div class="dialog-header">
            <span class="dialog-title">
                {{ selectedProject.id ? 'Edit Project' : 'Add Project' }}
            </span>

            <button class="icon-btn text-btn danger-color-only small-btn" (click)="closeProjectModal()">
                <span class="material-symbols-rounded">close</span>
            </button>
        </div>
        <div class="dialog-content">
            <div class="flex flex-column gap-3">
                <mat-input class="w-100" [label]="'Project Title'" [(value)]="selectedProject.title" [name]="'title'"
                           [inputType]="'text'" [placeholder]="'Project Title'" [required]="true"></mat-input>
                <mat-textarea class="w-100" [label]="'Project Description'" [(value)]="selectedProject.description"
                              [name]="'description'"
                              [placeholder]="'Project Description'"></mat-textarea>
                <div class="flex flex-column gap-3" *ngIf="selectedProject.id">
                    <mat-input [label]="'Share with'" [(value)]="userEmailToShare" [helperText]="shareWithError"
                               [name]="'shareWith'"
                               [inputType]="'text'" [placeholder]="'Email of user'"></mat-input>

                    <div class="flex flex-row-reverse w-full">
                        <button class="btn filled-btn small-btn" (click)="shareProject()">
                            Share
                        </button>
                    </div>
                </div>
            </div>

            <div class="divider" *ngIf="selectedProject.id"></div>

            <!-- list of users shared -->
            <div class="flex flex-wrap gap-2">
                <div class="card nohover px-2 p-1" style="width: auto; flex-grow: 1"
                     *ngFor="let member of selectedProject.members">
                    <div class="card-header gap-2">
                        <img [src]="member.photoURL" width="25px" height="25px" class="border-circle"
                             [alt]="member.username + ' avatar'">
                        <div class="title w-full">
                            {{ member.email }}
                        </div>
                        <button class="icon-btn text-btn danger-color-only small-btn"
                                *ngIf="selectedProject.owner.uid === user.uid" (click)="removeUserFromProject(member)">
                            <span class="material-symbols-rounded">close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="dialog-footer">
            <button type="button" ripple class="btn tonal-btn small-btn" (click)="closeProjectModal()">
                Close
            </button>
            <button type="button" ripple class="btn filled-btn small-btn" (click)="addProject()"
                    [disabled]="setDisabled()">
                Save
            </button>
        </div>
    </div>
</div>
