<div class="h-full bg-color">
    <div class="flex flex-column" *ngIf="!loading">
        <div class="flex align-items-center justify-content-between p-3">
            <span class="headline-md line-height-4 text-color font-medium">Projects</span>
            <button class="btn filled-btn" (click)="createOrEditProject()">
                Add Project
            </button>
        </div>

        <div class="project-card" *ngFor="let project of projectsTable.items">
            <div class="card-header">
                    <span class="title-md">
                        {{ project.title }}
                    </span>

                <button class="icon-btn text-btn"
                        (click)="navigateToProject(project)">
                    <span class="material-symbols-rounded">arrow_forward</span>
                </button>
            </div>

            <div class="card-content">
                <div class="flex gap-2">
                    <i class="material-symbols-rounded">assignment</i>
                    <span>{{ project.tasks.length }}</span>
                </div>
                <div class="flex gap-2">
                    <i class="material-symbols-rounded">hourglass_empty</i>
                    <span>{{ getTasksOfStatus(statusList[1].name, project) }}</span>
                </div>
                <div class="flex gap-2">
                    <i class="material-symbols-rounded">check_circle</i>
                    <span>{{ getTasksOfStatus(statusList[3].name, project) }}</span>
                </div>
                <button class="icon-btn text-btn"
                        (click)="createOrEditProject(project)">
                    <span class="material-symbols-rounded">edit</span>
                </button>
            </div>
        </div>
    </div>
</div>
<p-confirmPopup></p-confirmPopup>

<div class="dialog-container" [class.open]="showAddProjectModal">
    <div class="overlay" (click)="closeProjectModal()"></div>
    <div class="dialog">
        <div class="dialog-header">
            <span class="dialog-title">
                {{ selectedProject.id ? 'Edit Project' : 'Add Project' }}
            </span>

            <div class="dialog-actions">
                <button type="button" ripple class="icon-btn text-btn" (click)="closeProjectModal()">
                    <i class="material-symbols-rounded">close</i>
                </button>
                <button type="button" ripple class="icon-btn text-btn" (click)="addProject()"
                        [disabled]="setDisabled()">
                    <i class="material-symbols-rounded">save</i>
                </button>
            </div>
        </div>
        <div class="dialog-content">
            <div class="flex flex-column gap-3">
                <input type="text" [(ngModel)]="selectedProject.title" class="w-100" placeholder="Project Title"
                       required>

                <textarea [(ngModel)]="selectedProject.description" class="w-100" placeholder="Project Description"
                          required></textarea>
                <div class="flex flex-column gap-3" *ngIf="selectedProject.id">
                    <input type="text" [(ngModel)]="userEmailToShare" class="w-100" placeholder="Share with... (email)">

                    <div class="flex flex-row-reverse w-full">
                        <button class="icon-btn filled-btn small-btn" (click)="shareProject()">
                            <i class="material-symbols-rounded">share</i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="divider" *ngIf="selectedProject.id"></div>

            <!-- list of users shared -->
            <div class="flex flex-wrap gap-2">
                <div class="card nohover px-2 p-1" style="width: auto; flex-grow: 1"
                     *ngFor="let member of selectedProject.members">
                    <div class="card-header gap-2">
                        <img [src]="member.photoURL" width="25px" height="25px" class="border-circle"
                             [alt]="member.username + ' avatar'">
                        <div class="title w-full">
                            {{ member.email }}
                        </div>
                        <button class="icon-btn text-btn danger-color-only small-btn"
                                *ngIf="selectedProject.owner.uid === user.uid" (click)="removeUserFromProject(member)">
                            <span class="material-symbols-rounded">close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
