.panel
  border: 1px solid #F2F2F3
  padding: 16px
  border-radius: 8px

.project-card
  cursor: pointer
  transition: all 0.3s ease

  &:hover
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1)

.legend-item
  height: 8px
  width: 8px
  border-radius: 50%
