.panel
  padding: 16px
  border-radius: 8px
  background-color: white

.project-card
  cursor: pointer
  transition: all 0.3s ease

  &:hover
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1)

.legend-item
  height: 8px
  width: 8px
  border-radius: 50%
  background-color: #1C2023
  border-radius: 8px
  padding: 12px 20px
  cursor: pointer

  &.cdk-drag-placeholder
    opacity: 0.2

  &:hover
    border-color: #1A73E8

  .card-title
    font-size: 18px
    font-weight: 600
    margin-bottom: 10px

  .card-description
    font-size: 14px
    color: #A9A9A9
    display: block
    text-overflow: ellipsis
    overflow: hidden
    max-height: 200px

    display: -webkit-box
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical

::ng-deep .p-multiselect,
::ng-deep .p-dropdown
  width: 100%

