<div class="dropdown">
    <button class="btn btn-outlined justify-content-between w-fit" type="button" ripple #menuBtn>
        @if (getIconOfValue() != null) {
            <i class="material-symbols-outlined text-lg">{{ getIconOfValue() }}</i>
        }
        {{ value != null && value.length > 0 ? getLabelOfValue() : label }}
        <i class="material-symbols-outlined">
            {{ showMenu ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
        </i>
    </button>

    @if (showMenu) {
        <div class="dropdown-content" #menuContent>
            @for (item of items; track item.value) {
                <div class="dropdown-item" ripple [class.active]="item.value == value" (click)="selectItem(item)">
                    @if (item.icon != null && item.icon.length > 0) {
                        <i class="material-symbols-outlined text-lg">{{ item.icon }}</i>
                    }
                    {{ item.label }}
                </div>
            }
        </div>
    }
</div>
