<nav>
    <!-- <div class="nav-breadcrumbs">
        <a class="nav-breadcrumbs__link" routerLink="" *ngIf="user">Your Projects</a>
        <a class="nav-breadcrumbs__link" routerLink="/auth/login" *ngIf="!user">Login</a>
        <span class="nav-breadcrumbs__separator" *ngIf="!user">/</span>
        <a class="nav-breadcrumbs__link" routerLink="/auth/register" *ngIf="!user">Register</a>
        <span class="nav-breadcrumbs__separator" *ngIf="projectName !== ''">/</span>
        <a class="nav-breadcrumbs__link" routerLink="/home" *ngIf="projectName !== ''">
            <span class="material-symbols-rounded mr-2 text-base">view_kanban</span>
            {{ projectName }}
        </a>
    </div> -->

    <div class="flex align-items-center search-container" *ngIf="user">
        <i class="material-symbols-rounded text-secondary">search</i>
        <input type="text" class="nav-search text-secondary font-medium" placeholder="What are you looking for?">
    </div>
    <h2 class="nav-title text-lg" *ngIf="!user">Project Manager</h2>
    <div class="profile-dropdown" *ngIf="user" (click)="profileExpanded = !profileExpanded"
        [class.expanded]="profileExpanded">
        <img class="border-circle" style="width: 36px;" [src]="userImage" alt="User Avatar" *ngIf="userImage">

        <div class="profile-dropdown__content">
            <div class="profile-info gap-3 align-items-baseline">
                <img class="border-circle" style="width: 46px;" [src]="userImage" alt="User Avatar" *ngIf="userImage">
                <div class="flex flex-column gap-2">
                    <span class="font-regular text-color">{{ user?.displayName }}</span>
                    <span class="font-regular text-secondary">{{ user?.email }}</span>
                    <button class="btn btn-outline btn-sm mt-2" routerLink="/auth/profile">Manage your profile</button>
                </div>
            </div>
            <a class="profile-dropdown__item text-color font-medium" routerLink="/auth/login" (click)="logout()">
                <i class="material-symbols-rounded text-color">logout</i>
                <span>Close this session</span>
            </a>
        </div>
    </div>
    <div class="overlay" *ngIf="profileExpanded" (click)="profileExpanded = !profileExpanded"></div>
</nav>
