<nav>
    <div class="nav-breadcrumbs">
        <a class="nav-breadcrumbs__link" routerLink="/dashboard" *ngIf="isDashboard">Dashboard</a>
        <a class="nav-breadcrumbs__link" routerLink="/auth/login" *ngIf="isLogin">Login</a>
        <a class="nav-breadcrumbs__link" routerLink="/auth/register" *ngIf="isRegister">Register</a>
        <span class="nav-breadcrumbs__separator" *ngIf="projectName !== ''">/</span>
        <a class="nav-breadcrumbs__link" routerLink="/home" *ngIf="projectName !== ''">{{ projectName }}</a>
    </div>

    <div class="nav-actions">
        <button class="btn btn-icon" (click)="logout()" *ngIf="isLoggedIn">
            <span class="material-symbols-rounded">logout</span>
        </button>
    </div>
</nav>
