nav
    background-color: white
    border-bottom: 1px solid #EBEEF1
    padding: 16px 24px
    height: 64px
    display: flex
    align-items: center
    justify-content: space-between
    position: fixed
    top: 0
    left: 250px
    width: calc(100% - 250px)

    .nav-breadcrumbs
        display: flex
        align-items: center
        justify-content: flex-start
        gap: 12px

        .nav-breadcrumbs__link
            font-size: 14px
            color: #1a1a1a
            text-decoration: none

            &:hover
                text-decoration: underline

        .nav-breadcrumbs__separator
            font-size: 14px
            color: #1a1a1a

    .nav-actions
        display: flex
        align-items: center
        justify-content: flex-end
        gap: 8px

// mobile
@media screen and (max-width: 768px)
    nav
        margin-left: 75px
        padding: 16px
        overflow: auto
        left: 0
        width: calc(100%)
