<nav class="bg-color">
    <div class="logo">
        <button class="btn icon-btn" routerLink="/">
            <span class="material-symbols-rounded">overview_key</span>
        </button>
    </div>

    <div class="nav-actions" *ngIf="user">
        <img class="w-2 h-2 border-circle" [src]="userImage" alt="User Avatar" *ngIf="userImage">
        <span class="font-medium" *ngIf="user.displayName">{{ user.displayName }}</span>
        <button class="btn icon-btn ml-3" (click)="logout()">
            <span class="material-symbols-rounded">logout</span>
        </button>
    </div>
</nav>
