<nav>
    <header class="pt-3 flex flex-column">
        <div class="flex gap-3 align-items-center justify-content-center" *ngIf="user">
            <img class="border-circle w-12 md:w-10 h-auto" [src]="user.photoURL" alt="User Avatar"
                *ngIf="user.photoURL">
        </div>

        <a routerLink="" routerLinkActive="active" routerLink="/auth/login" (click)="logout()" *ngIf="user">
            <div class="link-content flex gap-2">
                <span class="material-symbols-rounded mr-2">logout</span>
            </div>
        </a>
    </header>

    <div class="section">
        <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="user == null">
            <div class="link-content flex gap-2">
                <span class="material-symbols-rounded mr-2">login</span>
            </div>
        </a>
        <a routerLink="/auth/register" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="user == null"
            class="mt-2">
            <div class="link-content flex gap-2">
                <span class="material-symbols-rounded mr-2">person_add</span>
            </div>
        </a>

        <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="user">
            <div class="link-content flex gap-2">
                <span class="material-symbols-rounded">folder</span>
            </div>
        </a>
    </div>
</nav>
