.w-30px
    width: 30px
.h-30px
    height: 30px

.btn-icon.btn-custom-active:active,
.btn-icon.btn-custom-active:focus,
.btn-icon.btn-custom-active:hover,
.btn-icon.btn-custom-active.show
    background-color: rgba(255,255,255,.1) !important

@media screen and (min-width: 768px)
    .w-md-40px
        width: 40px !important
    .h-md-40px
        height: 40px !important
