<header class="flex justify-content-between p-5">
    <div class="flex align-items-center justify-content-between gap-3">
        <div class="border-1 border-300 border-round p-2 gap-2 flex align-items-center text-500 bg-white">
            <button class="btn btn-icon text" (click)="previousWeek()">
                <i class="pi pi-chevron-left"></i>
            </button>
            |
            <button class="btn btn-icon text" (click)="nextWeek()">
                <i class="pi pi-chevron-right"></i>
            </button>
        </div>

        <button class="btn btn-outline" (click)="getCurrentWeek()">
            Today
        </button>
    </div>

    <div class="flex gap-2 align-items-center">
        <span class="font-bold text-xl">
            {{ toCapitalCase(currentMonthString) }}
        </span>
        <span class="font-medium text-sm text-500">
            {{ currentYear}}
        </span>
    </div>

    <div>
        <p-selectButton [options]="calendarOptions" [(ngModel)]="currentView"></p-selectButton>
    </div>
</header>

<div [ngSwitch]="currentView" class="h-full">
    <div *ngSwitchCase="'month'">output</div>
    <div *ngSwitchCase="'week'" class="h-full">
        <div class="calendar-week-grid h-full">
            <div class="week-column h-full" *ngFor="let day of currentWeek" [class.weekend]="day.day === 'Saturday' || day.day === 'Sunday'">
                <div class="week-column-header font-regular text-lg" [class.active]="day.date === currentDay">
                        {{ toCapitalCase(day.day).substring(0, 3) }}
                        {{ day.date }}
                </div>
                <div class="week-column-body h-full">
                    <app-card *ngFor="let task of day.tasks" [taskProjectId]="projectId" [task]="task"></app-card>
                </div>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'day'">output</div>
</div>
