.btn:not(.btn-shadow):not(.shadow):not(.shadow-sm):not(.shadow-lg):not(.shadow-xs)
    box-shadow: none

.btn
    display: flex
    align-items: center
    justify-content: center
    padding: 11px 20px
    font-size: 14.3px
    font-weight: 500
    line-height: 1.5
    color: $color-on-surface
    text-align: center
    vertical-align: middle
    cursor: pointer
    user-select: none
    border: 1px solid transparent
    border-radius: $border-radius-sm
    background-color: transparent
    box-shadow: none
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
    height: 43.55px
    gap: 8px

    @media (max-width: 767px)
        padding: 8px 14px
        font-size: 13px
        height: fit-content

    .material-symbols-rounded
        display: inline-flex
        font-size: 1rem
        padding-right: .35rem
        vertical-align: middle
        color: inherit

    &.btn-sm
        padding: 8px 14px
        font-size: 12px
        height: fit-content

    &.btn-primary
        background-color: $color-primary
        color: $color-on-primary

        &:hover
            background-color: $color-primary-active

        &:active
            background-color: $color-primary-active

        &:disabled
            opacity: 0.5
            cursor: not-allowed

        &:focus
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px $color-primary, 0 1px 2px 0 rgb(0, 0, 0) !important

    &.btn-light-primary
        background-color: $color-primary-light
        color: $color-primary

        &:hover
            background-color: $color-primary
            color: $color-on-primary

        &:active
            background-color: $color-primary
            color: $color-on-primary

        &:disabled
            opacity: 0.5
            cursor: not-allowed

        &:focus
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px $color-primary-light, 0 1px 2px 0 rgb(0, 0, 0) !important

    &.btn-secondary
        background-color: $color-secondary
        color: $color-on-secondary

        &:hover
            background-color: $color-secondary-active

        &:active
            background-color: $color-secondary-active

        &:disabled
            opacity: 0.5
            cursor: not-allowed

        &:focus
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #B0B9C6, 0 1px 2px 0 rgb(0, 0, 0) !important

    &.btn-outline
        background-color: transparent
        border: 1px solid $color-utility-outline
        color: $color-on-surface

        &:hover
            background-color: $color-secondary

        &:active
            background-color: $color-secondary

        &:disabled
            opacity: 0.5
            cursor: not-allowed

        &:focus
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #9dc1fb, 0 1px 2px 0 rgb(0, 0, 0) !important

    &.btn-text
        background-color: transparent
        color: $color-on-surface

        &:hover
            background-color: $color-secondary

        &:active
            background-color: $color-secondary

        &:disabled
            opacity: 0.5
            cursor: not-allowed

        &:focus
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #9dc1fb, 0 1px 2px 0 rgb(0, 0, 0) !important

    &.btn-danger
        background-color: $color-utility-error
        color: $color-surface

        &:hover
            background-color: $color-utility-error-active

        &:active
            background-color: $color-utility-error-active

        &:disabled
            opacity: 0.5
            cursor: not-allowed

        &:focus
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px $color-utility-error, 0 1px 2px 0 rgb(0, 0, 0) !important

    &.btn-light-danger
        background-color: $color-utility-error-light
        color: $color-utility-error

        &:hover
            background-color: $color-utility-error-active
            color: $color-surface

        &:active
            background-color: $color-utility-error-active
            color: $color-surface

        &:disabled
            opacity: 0.5
            cursor: not-allowed

        &:focus
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px $color-utility-error, 0 1px 2px 0 rgb(0, 0, 0) !important

    &.btn-warning
        background-color: $color-utility-warning
        color: $color-surface

        &:hover
            background-color: $color-utility-warning-active

        &:active
            background-color: $color-utility-warning-active

        &:disabled
            opacity: 0.5
            cursor: not-allowed

        &:focus
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px $color-utility-warning, 0 1px 2px 0 rgb(0, 0, 0) !important

    &.btn-light-warning
        background-color: $color-utility-warning-light
        color: $color-utility-warning

        &:hover
            background-color: $color-utility-warning-active
            color: $color-surface

        &:active
            background-color: $color-utility-warning-active
            color: $color-surface

        &:disabled
            opacity: 0.5
            cursor: not-allowed

        &:focus
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px $color-utility-warning, 0 1px 2px 0 rgb(0, 0, 0) !important

    &.btn-success
        background-color: $color-utility-success
        color: $color-surface

        &:hover
            background-color: $color-utility-success-active

        &:active
            background-color: $color-utility-success-active

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-light-success
        background-color: $color-utility-success-light
        color: $color-utility-success

        &:hover
            background-color: $color-utility-success-active
            color: $color-surface

        &:active
            background-color: $color-utility-success-active
            color: $color-surface

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-light
        background-color: $color-surface
        color: $color-on-surface

        &:hover
            color: $color-primary

        &:active
            color: $color-primary

        &:disabled
            opacity: 0.5
            cursor: not-allowed

.fab
    border: 0
    border-radius: 16px
    padding: 0
    font-size: 16px
    font-family: $font-family
    font-weight: 500
    font-size: 16px
    line-height: 20px
    letter-spacing: 0.1px
    cursor: pointer
    transition: all 0.2s ease
    display: flex
    align-items: center
    justify-content: center
    height: 56px
    width: 56px
    background-color: $color-primary
    color: #fff

    &:hover
        background-color: $color-primary-active

    &:active
        background-color: $color-primary-active

    &:disabled
        opacity: 0.5
        cursor: not-allowed

    i
        font-size: 16px

    &.fab-small
        height: 40px
        width: 40px

        i
            font-size: 14px

    &.fab-large
        height: 96px
        width: 96px

        i
            font-size: 20px

.fab-extended
    border: 0
    border-radius: 16px
    padding: 0
    font-size: 16px
    font-family: $font-family
    font-weight: 500
    font-size: 16px
    line-height: 20px
    letter-spacing: 0.1px
    cursor: pointer
    transition: all 0.2s ease
    display: flex
    align-items: center
    justify-content: center
    height: 56px
    width: 168px
    background-color: $color-primary
    color: #fff
    box-shadow: $elevation-1

    &:hover
        background-color: $color-primary-active

    &:active
        background-color: $color-primary-active

    &:disabled
        opacity: 0.5
        cursor: not-allowed

    i
        font-size: 16px

.btn-icon
    display: inline-flex
    align-items: center
    justify-content: center
    padding: 0
    font-size: 1.1rem
    font-weight: 500
    line-height: 1
    color: $color-on-surface
    text-align: center
    vertical-align: middle
    cursor: pointer
    user-select: none
    border: 1px solid transparent
    border-radius: $border-radius-sm
    background-color: transparent
    box-shadow: none
    height: calc(1.5em + 1.55rem + 2px)
    width: calc(1.5em + 1.55rem + 2px)
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out

    .material-symbols-rounded
        display: inline-flex
        font-size: 1rem
        vertical-align: middle
        color: inherit

    &.btn-sm
        height: 34px
        width: 34px
        font-size: 14px

    &.btn-lg
        height: calc(1.5em + 1.9rem + 2px)
        width: calc(1.5em + 1.9rem + 2px)

    &.btn-primary
        background-color: $color-primary
        color: $color-on-primary

        &:hover
            background-color: $color-primary-active

        &:active
            background-color: $color-primary-active

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-light-primary
        background-color: $color-primary-light
        color: $color-primary

        &:hover
            background-color: $color-primary
            color: $color-on-primary

        &:active
            background-color: $color-primary
            color: $color-on-primary

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-secondary
        background-color: $color-secondary
        color: $color-on-secondary

        &:hover
            background-color: $color-secondary-active

        &:active
            background-color: $color-secondary-active

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-outline
        background-color: transparent
        border: 1px solid $color-utility-outline
        color: $color-on-surface

        &:hover
            background-color: $color-secondary

        &:active
            background-color: $color-secondary

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-text
        background-color: transparent
        color: $color-on-surface

        &:hover
            background-color: $color-secondary

        &:active
            background-color: $color-secondary
            outline: solid 2px $color-primary

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-danger
        background-color: $color-utility-error
        color: $color-surface

        &:hover
            background-color: $color-utility-error-active

        &:active
            background-color: $color-utility-error-active

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-light-danger
        background-color: $color-utility-error-light
        color: $color-utility-error

        &:hover
            background-color: $color-utility-error-active
            color: $color-surface

        &:active
            background-color: $color-utility-error-active
            color: $color-surface

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-warning
        background-color: $color-utility-warning
        color: $color-surface

        &:hover
            background-color: $color-utility-warning-active

        &:active
            background-color: $color-utility-warning-active

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-light-warning
        background-color: $color-utility-warning-light
        color: $color-utility-warning

        &:hover
            background-color: $color-utility-warning-active
            color: $color-surface

        &:active
            background-color: $color-utility-warning-active
            color: $color-surface

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-success
        background-color: $color-utility-success
        color: $color-surface

        &:hover
            background-color: $color-utility-success-active

        &:active
            background-color: $color-utility-success-active

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-light-success
        background-color: $color-utility-success-light
        color: $color-utility-success

        &:hover
            background-color: $color-utility-success-active
            color: $color-surface

        &:active
            background-color: $color-utility-success-active
            color: $color-surface

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-light
        background-color: $color-surface
        color: $color-on-surface

        &:hover
            color: $color-primary

        &:active
            color: $color-primary

        &:disabled
            opacity: 0.5
            cursor: not-allowed

a
    color: $color-primary
    text-decoration: none
    cursor: pointer

    &:hover
        color: rgb(73,157,255)
        transition: color .2s ease

.swal2-confirm.swal2-styled
    display: flex
    align-items: center
    justify-content: center
    padding: 11px 20px
    font-size: 14.3px
    font-weight: 500
    line-height: 1.5
    text-align: center
    vertical-align: middle
    cursor: pointer
    user-select: none
    border: 1px solid transparent
    border-radius: $border-radius-sm
    box-shadow: none
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
    height: 43.55px
    gap: 8px
    background-color: $color-primary
    color: $color-on-primary

    &:hover
        background-color: $color-primary-active

    &:active
        background-color: $color-primary-active

    &:disabled
        opacity: 0.5
        cursor: not-allowed

    &:focus
        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px $color-primary, 0 1px 2px 0 rgb(0, 0, 0) !important
