.btn
    border: 0
    border-radius: 6px
    padding: 12px 16px
    font-size: 16px
    font-family: $font-family
    font-weight: 400
    font-size: 14px
    line-height: 20px
    letter-spacing: 0.1px
    cursor: pointer
    transition: all 0.2s ease
    display: flex
    align-items: center
    justify-content: center
    height: 40px
    min-width: 66px
    gap: 8px

    .material-symbols-rounded
        font-size: 16px

    &.small-btn
        height: 32px
        min-width: 56px

        .material-symbols-rounded
            font-size: 12px

    &.filled-btn
        background-color: $primary-color
        color: black

        &:hover
            background-color: $primary-color-hover

        &:active
            background-color: $primary-color-active

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.tonal-btn
        background-color: $secondary-color
        color: $text-color

        &:hover
            background-color: $secondary-color-hover

        &:active
            background-color: $secondary-color-active

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.outlined-btn
        background-color: transparent
        border: 1px solid $border-primary-color
        color: $text-secondary

        &:hover
            background-color: $secondary-color-hover

        &:active
            background-color: $secondary-color-active

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.elevated-btn
        background-color: $primary-color
        color: black
        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3)

        &:hover
            background-color: $primary-color-hover

        &:active
            background-color: $primary-color-active

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.text-btn
        background-color: transparent
        color: $text-secondary

        &:hover
            background-color: #3A3734

        &:active
            background-color: #36322F

        &:disabled
            opacity: 0.5
            cursor: not-allowed

.fab
    border: 0
    border-radius: 16px
    padding: 0
    font-size: 16px
    font-family: $font-family
    font-weight: 500
    font-size: 16px
    line-height: 20px
    letter-spacing: 0.1px
    cursor: pointer
    transition: all 0.2s ease
    display: flex
    align-items: center
    justify-content: center
    height: 56px
    width: 56px
    background-color: $primary-color
    color: #fff

    &:hover
        background-color: $primary-color-hover

    &:active
        background-color: $primary-color-active

    &:disabled
        opacity: 0.5
        cursor: not-allowed

    i
        font-size: 16px

    &.fab-small
        height: 40px
        width: 40px

        i
            font-size: 14px

    &.fab-large
        height: 96px
        width: 96px

        i
            font-size: 20px

.fab-extended
    border: 0
    border-radius: 16px
    padding: 0
    font-size: 16px
    font-family: $font-family
    font-weight: 500
    font-size: 16px
    line-height: 20px
    letter-spacing: 0.1px
    cursor: pointer
    transition: all 0.2s ease
    display: flex
    align-items: center
    justify-content: center
    height: 56px
    width: 168px
    background-color: $primary-color
    color: #fff
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3)

    &:hover
        background-color: $primary-color-hover

    &:active
        background-color: $primary-color-active

    &:disabled
        opacity: 0.5
        cursor: not-allowed

    i
        font-size: 16px

.icon-btn
    border: 0
    border-radius: 50%
    padding: 0
    font-size: 16px
    font-family: $font-family
    font-weight: 500
    font-size: 16px
    line-height: 20px
    letter-spacing: 0.1px
    cursor: pointer
    transition: background-color 0.2s ease
    display: flex
    align-items: center
    justify-content: center
    height: 40px
    width: 40px

    .material-symbols-rounded
        font-size: 16px

    &.btn-small
        height: 32px
        width: 32px

        .material-symbols-rounded
            font-size: 14px

    &.btn-large
        height: 48px
        width: 48px

        .material-symbols-rounded
            font-size: 20px

    &.filled-btn
        background-color: $primary-color
        color: black

        &:hover
            background-color: $primary-color-hover

        &:active
            background-color: $primary-color-active

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.tonal-btn
        background-color: $secondary-color
        color: $text-color

        &:hover
            background-color: $secondary-color-hover

        &:active
            background-color: $secondary-color-active

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.outlined-btn
        background-color: transparent
        border: 1px solid $border-primary-color
        color: $text-secondary

        &:hover
            background-color: $secondary-color-hover

        &:active
            background-color: $secondary-color-active

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.elevated-btn
        background-color: $primary-color
        color: black
        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3)

        &:hover
            background-color: $primary-color-hover

        &:active
            background-color: $primary-color-active

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.text-btn
        background-color: transparent
        color: $text-secondary

        &:hover
            background-color: #3A3734

        &:active
            background-color: #36322F

        &:disabled
            opacity: 0.5
            cursor: not-allowed

.icon-btn-toggle
    border-radius: 50%
    padding: 0
    font-size: 16px
    font-family: $font-family
    font-weight: 500
    font-size: 16px
    line-height: 20px
    letter-spacing: 0.1px
    cursor: pointer
    transition: background-color 0.2s ease
    display: flex
    align-items: center
    justify-content: center
    height: 40px
    width: 40px
    background-color: transparent
    color: $text-color

    &:hover
        background-color: $secondary-color

    &:active
        background-color: $secondary-color
        filter: brightness(0.8)

    &:disabled
        opacity: 0.5
        cursor: not-allowed

    .material-symbols-rounded
        font-size: 16px

    &.filled-btn
        background-color: $primary-color
        color: $text-color

        &:hover
            filter: brightness(1.1)

        &:active
            filter: brightness(0.8)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.tonal-btn
        background-color: $secondary-color
        color: $text-secondary

        &:hover
            filter: brightness(1.1)

        &:active
            filter: brightness(0.8)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.outlined-btn
        background-color: transparent
        border: 1px solid $border-color
        color: $text-color

        &:hover
            background-color: $secondary-color

        &:active
            background-color: $secondary-color
            filter: brightness(0.8)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.elevated-btn
        background-color: $secondary-color
        color: $text-color
        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3)

        &:hover
            filter: brightness(1.1)

        &:active
            filter: brightness(0.8)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.text-btn
        background-color: transparent
        color: $primary-color

        &:hover
            background-color: $secondary-color

        &:active
            background-color: $secondary-color
            filter: brightness(0.8)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.active
        background-color: #3B82F6
        color: #1E3A8A

        &:hover
            background-color: #3B82F6

        &:active
            background-color: #3B82F6

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.active.filled-btn
        background-color: #3B82F6
        color: #1E3A8A

        &:hover
            background-color: #3B82F6

        &:active
            background-color: #3B82F6

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.active.tonal-btn
        background-color: #1D3767
        color: #60A5FA

        &:hover
            background-color: #1D3767

        &:active
            background-color: #1D3767

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.active.outlined-btn
        background-color: #14223F
        border: 1px solid #60A5FA
        color: #60A5FA

        &:hover
            background-color: #14223F

        &:active
            background-color: #14223F

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.active.text-btn
        background-color: #182C53
        color: #60A5FA

        &:hover
            background-color: #182C53

        &:active
            background-color: #182C53

        &:disabled
            opacity: 0.5
            cursor: not-allowed
