.btn:not(.btn-shadow):not(.shadow):not(.shadow-sm):not(.shadow-lg):not(.shadow-xs)
    box-shadow: none

.btn
    display: flex
    align-items: center
    justify-content: center
    padding: 11px 20px
    font-size: 14.3px
    font-weight: 500
    line-height: 1.5
    color: var(--color-on-surface)
    text-align: center
    vertical-align: middle
    cursor: pointer
    user-select: none
    border: 1px solid transparent
    border-radius: var(--border-radius-sm)
    background-color: transparent
    box-shadow: none
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
    height: 43.55px
    gap: 8px

    @media (max-width: 767px)
        padding: 8px 14px
        font-size: 13px
        height: fit-content

    i
        margin-bottom: -2px

    &.btn-sm
        padding: 8px 14px
        font-size: 12px
        height: fit-content

    &.btn-primary
        background-color: var(--color-primary)
        color: var(--color-on-primary)

        &:hover
            background-color: var(--color-primary-active)

        &:active
            background-color: var(--color-primary-active)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

        &:focus
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--color-primary), 0 1px 2px 0 rgb(0, 0, 0) !important

    &.btn-light-primary
        background-color: var(--color-primary-light)
        color: var(--color-primary)

        &:hover
            background-color: var(--color-primary)
            color: var(--color-on-primary)

        &:active
            background-color: var(--color-primary)
            color: var(--color-on-primary)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

        &:focus
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--color-primary-light), 0 1px 2px 0 rgb(0, 0, 0) !important

    &.btn-secondary
        background-color: var(--color-secondary)
        color: var(--color-on-secondary)

        &:hover
            background-color: var(--color-secondary-active)

        &:active
            background-color: var(--color-secondary-active)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

        &:focus
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #B0B9C6, 0 1px 2px 0 rgb(0, 0, 0) !important

    &.btn-outline
        background-color: transparent
        border: 1px solid var(--color-utility-outline)
        color: var(--color-on-surface)

        &:hover
            background-color: var(--color-secondary)

        &:active
            background-color: var(--color-secondary)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

        &:focus
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #9dc1fb, 0 1px 2px 0 rgb(0, 0, 0) !important

    &.btn-text
        background-color: transparent
        color: var(--color-on-surface)

        &:hover
            background-color: var(--color-secondary)

        &:active
            background-color: var(--color-secondary)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

        &:focus
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #9dc1fb, 0 1px 2px 0 rgb(0, 0, 0) !important

    &.btn-danger
        background-color: var(--color-utility-error)
        color: var(--color-on-surface)

        &:hover
            background-color: var(--color-utility-error-active)

        &:active
            background-color: var(--color-utility-error-active)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

        &:focus
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--color-utility-error), 0 1px 2px 0 rgb(0, 0, 0) !important

    &.btn-light-danger
        background-color: var(--color-utility-error-light)
        color: var(--color-utility-error)

        &:hover
            background-color: var(--color-utility-error-active)
            color: var(--color-on-surface)

        &:active
            background-color: var(--color-utility-error-active)
            color: var(--color-on-surface)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

        &:focus
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--color-utility-error), 0 1px 2px 0 rgb(0, 0, 0) !important

    &.btn-warning
        background-color: var(--color-utility-warning)
        color: var(--color-on-surface)

        &:hover
            background-color: var(--color-utility-warning-active)

        &:active
            background-color: var(--color-utility-warning-active)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

        &:focus
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--color-utility-warning), 0 1px 2px 0 rgb(0, 0, 0) !important

    &.btn-light-warning
        background-color: var(--color-utility-warning-light)
        color: var(--color-utility-warning)

        &:hover
            background-color: var(--color-utility-warning-active)
            color: var(--color-on-surface)

        &:active
            background-color: var(--color-utility-warning-active)
            color: var(--color-on-surface)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

        &:focus
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--color-utility-warning), 0 1px 2px 0 rgb(0, 0, 0) !important

    &.btn-success
        background-color: var(--color-utility-success)
        color: var(--color-on-surface)

        &:hover
            background-color: var(--color-utility-success-active)

        &:active
            background-color: var(--color-utility-success-active)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-light-success
        background-color: var(--color-utility-success-light)
        color: var(--color-utility-success)

        &:hover
            background-color: var(--color-utility-success-active)
            color: var(--color-on-surface)

        &:active
            background-color: var(--color-utility-success-active)
            color: var(--color-on-surface)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-light
        background-color: white
        color: black

        &:hover
            color: var(--color-primary)

        &:active
            color: var(--color-primary)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

.fab
    border: 0
    border-radius: 16px
    padding: 0
    font-size: 16px
    font-family: var(--font-family)
    font-weight: 500
    font-size: 16px
    line-height: 20px
    letter-spacing: 0.1px
    cursor: pointer
    transition: all 0.2s ease
    display: flex
    align-items: center
    justify-content: center
    height: 56px
    width: 56px
    background-color: var(--color-primary)
    color: #fff

    &:hover
        background-color: var(--color-primary-active)

    &:active
        background-color: var(--color-primary-active)

    &:disabled
        opacity: 0.5
        cursor: not-allowed

    i
        font-size: 16px

    &.fab-small
        height: 40px
        width: 40px

        i
            font-size: 14px

    &.fab-large
        height: 96px
        width: 96px

        i
            font-size: 20px

.fab-extended
    border: 0
    border-radius: 16px
    padding: 0
    font-size: 16px
    font-family: var(--font-family)
    font-weight: 500
    font-size: 16px
    line-height: 20px
    letter-spacing: 0.1px
    cursor: pointer
    transition: all 0.2s ease
    display: flex
    align-items: center
    justify-content: center
    height: 56px
    width: 168px
    background-color: var(--color-primary)
    color: #fff
    box-shadow: var(--elevation-1)

    &:hover
        background-color: var(--color-primary-active)

    &:active
        background-color: var(--color-primary-active)

    &:disabled
        opacity: 0.5
        cursor: not-allowed

    i
        font-size: 16px

.btn-icon
    display: inline-flex
    align-items: center
    justify-content: center
    padding: 0
    font-size: 1.1rem
    font-weight: 500
    line-height: 1
    color: var(--color-on-surface)
    text-align: center
    vertical-align: middle
    cursor: pointer
    user-select: none
    border: 1px solid transparent
    border-radius: var(--border-radius-sm)
    background-color: transparent
    box-shadow: none
    height: calc(1.5em + 1.55rem + 2px)
    width: calc(1.5em + 1.55rem + 2px)
    transition: all .15s ease-in-out

    .material-symbols-rounded
        display: inline-flex
        font-size: 1rem
        vertical-align: middle
        color: inherit

    &.btn-sm
        height: 34px
        width: 34px
        font-size: 14px

    &.btn-lg
        height: calc(1.5em + 1.9rem + 2px)
        width: calc(1.5em + 1.9rem + 2px)

    &.btn-active-light-primary:hover
        background-color: var(--color-primary-light)
        color: var(--color-primary)
        &.btn-outline
            border-color: var(--color-primary)

    &.btn-active-primary:hover
        background-color: var(--color-primary)
        color: var(--color-on-primary)
        &.btn-outline
            border-color: var(--color-primary)

    &.btn-primary
        background-color: var(--color-primary)
        color: var(--color-on-primary)

        &:hover
            background-color: var(--color-primary-active)

        &:active,
        &.active
            background-color: var(--color-primary-active)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-light-primary
        background-color: var(--color-primary-light)
        color: var(--color-primary)

        &:hover
            background-color: var(--color-primary)
            color: var(--color-on-primary)

        &:active,
        &.active
            background-color: var(--color-primary)
            color: var(--color-on-primary)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-secondary
        background-color: var(--color-secondary)
        color: var(--color-on-secondary)

        &:hover
            background-color: var(--color-secondary-active)

        &:active,
        &.active
            background-color: var(--color-secondary-active)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-outline
        background-color: transparent
        border: 1px solid var(--color-utility-outline)
        color: var(--color-on-surface)

        &.btn-outline-dashed
            border-style: dashed

            &:hover
                border-color: var(--color-primary)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-text
        background-color: transparent
        color: var(--color-on-surface)

        &:hover
            background-color: var(--color-secondary)

        &:active,
        &.active
            background-color: var(--color-secondary)
            outline: solid 2px var(--color-primary)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-danger
        background-color: var(--color-utility-error)
        color: var(--color-on-surface)

        &:hover
            background-color: var(--color-utility-error-active)

        &:active,
        &.active
            background-color: var(--color-utility-error-active)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-light-danger
        background-color: var(--color-utility-error-light)
        color: var(--color-utility-error)

        &:hover
            background-color: var(--color-utility-error-active)
            color: var(--color-on-surface)

        &:active,
        &.active
            background-color: var(--color-utility-error-active)
            color: var(--color-on-surface)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-warning
        background-color: var(--color-utility-warning)
        color: var(--color-on-surface)

        &:hover
            background-color: var(--color-utility-warning-active)

        &:active,
        &.active
            background-color: var(--color-utility-warning-active)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-light-warning
        background-color: var(--color-utility-warning-light)
        color: var(--color-utility-warning)

        &:hover
            background-color: var(--color-utility-warning-active)
            color: var(--color-on-surface)

        &:active
            background-color: var(--color-utility-warning-active)
            color: var(--color-on-surface)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-success
        background-color: var(--color-utility-success)
        color: var(--color-on-surface)

        &:hover
            background-color: var(--color-utility-success-active)

        &:active
            background-color: var(--color-utility-success-active)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-light-success
        background-color: var(--color-utility-success-light)
        color: var(--color-utility-success)

        &:hover
            background-color: var(--color-utility-success-active)
            color: var(--color-on-surface)

        &:active
            background-color: var(--color-utility-success-active)
            color: var(--color-on-surface)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

    &.btn-light
        background-color: var(--color-on-surface)
        color: var(--color-on-surface)

        &:hover
            color: var(--color-primary)

        &:active
            color: var(--color-primary)

        &:disabled
            opacity: 0.5
            cursor: not-allowed

a
    color: var(--color-primary)
    text-decoration: none
    cursor: pointer

    &:hover
        color: rgb(73,157,255)
        transition: color .2s ease

.swal2-confirm.swal2-styled
    display: flex
    align-items: center
    justify-content: center
    padding: 11px 20px
    font-size: 14.3px
    font-weight: 500
    line-height: 1.5
    text-align: center
    vertical-align: middle
    cursor: pointer
    user-select: none
    border: 1px solid transparent
    border-radius: var(--border-radius-sm)
    box-shadow: none
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
    height: 43.55px
    gap: 8px
    background-color: var(--color-primary)
    color: var(--color-on-primary)

    &:hover
        background-color: var(--color-primary-active)

    &:active
        background-color: var(--color-primary-active)

    &:disabled
        opacity: 0.5
        cursor: not-allowed

    &:focus
        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--color-primary), 0 1px 2px 0 rgb(0, 0, 0) !important
