.card
    background-color: $bg-color
    border-radius: $border-radius
    border: 2px solid $border-color
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08), 0px 2px 1px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.10)
    display: flex
    flex-direction: column
    padding: 16px
    cursor: pointer
    transition: all 0.2s ease-in-out

    &:hover,
    &.active
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08), 0px 2px 1px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.10)
        border-color: $primary-color
        border-width: 2px

    .card-header
        display: flex
        align-items: center

        .title
            color: $text-color
            font-size: 16px
            font-style: normal
            font-weight: 500
            line-height: 24px
