.dialog-container
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    z-index: 99

    .overlay
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: transparent
        z-index: 99
        background-color: rgba(0, 0, 0, 0.4)
        cursor: pointer

.dialog
    background-color: $color-background
    border-radius: $border-radius
    width: 800px
    z-index: 999
    border: 1px solid $color-utility-outline
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08), 0px 2px 1px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.10)
    position: relative

    &.dialog-sm
        width: 400px

    &.dialog-lg
        width: 1000px

    .close-btn
        position: absolute
        top: 6px
        right: 6px

    .dialog-header
        display: flex
        justify-content: space-between
        align-items: center
        padding: 24px
        padding-bottom: 6px

        .text-btn
            span
                color: $color-on-surface !important

        .dialog-title
            font-size: 24px
            font-weight: 500
            line-height: 28px
            font-family: $font-family
            color: $color-on-surface
            line-height: 32px

    .dialog-content
        padding: 24px
        max-height: 600px
        overflow-y: auto

    .dialog-footer
        display: flex
        justify-content: flex-end
        align-items: center
        padding: 12px 24px 24px
        border-bottom-left-radius: 10px
        border-bottom-right-radius: 10px
        gap: 16px

.dialog-full
    height: 100%
    width: calc(100% - 75px)
    position: fixed
    top: 0
    left: 0
    margin-left: 72px
    border-radius: 0
    border: none
    box-shadow: none
    z-index: 9

    .dialog-header
        display: flex
        justify-content: space-between
        align-items: center
        background-color: $color-secondary
        padding: 15px 64px
        border-bottom: 1px solid $color-utility-outline

    .dialog-content
        background-color: $color-background
        display: flex
        padding: 15px 64px
        height: calc(100% - 75px)
        overflow-y: auto

// mobile
@media screen and (max-width: 768px)
    .dialog
        width: 100%
        border-radius: 0
        height: 100%

        .dialog-header
            border-top-left-radius: 0
            border-top-right-radius: 0

        .dialog-content
            overflow-y: auto
            height: 100vh
            max-height: calc(100% - 130px) !important

        .dialog-footer
            border-bottom-left-radius: 0
            border-bottom-right-radius: 0

    .dialog-full
        .dialog-header,
        .dialog-content
            padding: 15px

@media screen and (min-width: 768px)
    .md\:max-h-40rem
        max-height: 40rem !important
