.light-theme
    --menu-bg: #FFFFFF
.dark-theme
    --menu-bg: #1C1D22

.dropdown
    display: flex
    flex-direction: column
    position: relative
    width: 100%

    .dropbtn
        border: 1px solid var(--color-utility-outline)
        border-radius: var(--border-radius-sm)
        display: flex
        min-width: 100px
        align-items: center
        justify-content: space-between
        padding: 10px 13px
        cursor: pointer
        transition: all 0.2s ease-in-out
        height: 43px
        color: #4B5675
        font-weight: 600

        &:hover
            border-color: var(--color-primary)

        &:active
            border-color: var(--color-primary)
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--color-primary), 0 1px 2px 0 rgb(0, 0, 0) !important

        .placeholder
            color: var(--color-on-surface-variant)
            font-size: inherit
            font-weight: 500

        i
            font-size: 20px
            color: var(--color-on-surface-variant)
            transition: all 0.2s ease-in-out

    .dropdown-content
        border-radius: var(--border-radius)
        background-color: var(--menu-bg)
        position: absolute
        left: 0
        right: 0
        z-index: 1
        width: 100%
        min-width: 100px
        height: 0
        display: flex
        flex-direction: column
        box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15)
        scrollbar-width: thin

        &.show-bottom
            top: 100%

        &.show-top
            bottom: 100%

        .dropdown-item
            padding: 9px 16px
            color: var(--color-on-surface)
            font-size: 13px
            font-weight: 400
            line-height: 20px
            letter-spacing: 0.1px
            transition: all 0.2s ease-in-out
            font-family: var(--font-family)
            cursor: pointer
            display: flex
            align-items: center
            position: relative
            height: 36px
            border-radius: 0

            &:hover,
            &.selected,
            &:active
                background-color: var(--color-light)
                color: var(--color-primary)

            &.disabled
                opacity: 0.5
                cursor: not-allowed
                pointer-events: none

    &.expanded
        overflow: initial

        .dropbtn
            border-color: var(--color-primary)
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--color-primary), 0 1px 2px 0 rgb(0, 0, 0) !important

        .dropdown-content
            height: auto
            max-height: 300px
            padding: 1rem 0
            overflow-y: auto


.menu
    display: flex
    flex-direction: column
    position: relative

    .btn-icon
        i
            color: var(--color-on-primary)

    .menu-content
        display: none
        margin: 0
        list-style: none
        flex-direction: column
        padding: 13px 0
        width: 100%
        background-color: var(--menu-bg) !important

        .menu-container
            padding: .65rem 1rem
            display: flex
            align-items: center
            flex-direction: row
            gap: 16px

            img
                width: 50px
                height: 50px
                border-radius: var(--border-radius)
                object-fit: cover
                display: inline-block

        .menu-item
            display: block
            padding: 1.9px 9.75px

            .menu-content
                padding: .65rem 1rem
                display: flex
                align-items: center
                gap: 16px

                img
                    width: 50px
                    height: 50px
                    border-radius: var(--border-radius)
                    object-fit: cover
                    display: inline-block

            .menu-link
                cursor: pointer
                display: flex
                align-items: center
                gap: 12px
                padding: .65rem 1rem
                transition: none
                outline: 0 !important
                border-radius: var(--border-radius-sm)
                color: var(--color-on-surface)
                font-weight: 500

                i
                    color: inherit
                    font-size: 16px
                    width: 16px

                &:hover,
                &.active
                    background-color: var(--color-light) !important
                    color: var(--color-primary)

    &:hover
        .btn-icon
            background-color: var(--color-secondary)
            i
                color: var(--color-on-secondary) !important

        .menu-content
            display: flex
            will-change: transform
            animation: menu-sub-dropdown-animation-fade-in .3s ease 1, menu-sub-dropdown-animation-move-up .3s ease 1
            border-radius: var(--border-radius-sm)
            background-color: var(--color-surface)
            box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15)
            z-index: 1055
            position: absolute
            margin: 0
            right: 0
            top: 100%

@keyframes menu-sub-dropdown-animation-fade-in
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes menu-sub-dropdown-animation-move-up
    0%
        margin-top: 0.75rem
    100%
        margin-top: 0

@media screen and (max-width: 768px)
    .dropdown
        .dropbtn
            font-size: 11px

            i
                font-size: 11px

            .placeholder
                font-size: 11px
