.list
    display: flex
    flex-direction: column
    list-style: none

    .list-item
        border-top: 1px solid $border-color
        padding: 8px
        display: flex
        align-items: center
        width: 100%

        &:last-child
            border-bottom: 1px solid $border-color

.filter-item
    padding: 6px 12px
    color: $text-color
    font-size: 14px
    font-weight: 400
    line-height: 20px
    letter-spacing: 0.1px
    transition: all 0.2s ease-in-out
    font-family: $font-family
    cursor: pointer
    display: flex
    align-items: center
    gap: 8px
    position: relative
    height: 36px
    border-radius: 0

    &:hover
        background-color: $background-primary-color

    &:active
        background-color: $background-primary-color

    &.selected
        background-color: $background-primary-color

    &.disabled
        opacity: 0.5
        cursor: not-allowed
        pointer-events: none

.filter-select
    max-width: 200px

    header
        border-bottom: 1px solid $border-color
