.list
    display: flex
    flex-direction: column
    list-style: none

    .list-item
        border-top: 1px solid $border-color
        padding: 8px
        display: flex
        align-items: center
        width: 100%
