.pagination
    .page-item
        margin-right: 6px
        appearance: none
        background-color: transparent
        border: 0

        .page-link
            display: flex
            justify-content: center
            align-items: center
            border-radius: $border-radius-sm
            height: 32px
            width: 32px
            font-weight: 500
            font-size: 14px
            transition: all 0.3s ease-in-out
            text-decoration: none
            background-color: transparent
            border: 0

            &:hover
                color: $color-primary

            &.active
                background-color: $color-primary
                color: $color-surface

        &:first-child .page-link
            border-top-left-radius: $border-radius-sm
            border-bottom-left-radius: $border-radius-sm

        &:last-child .page-link
            border-top-right-radius: $border-radius-sm
            border-bottom-right-radius: $border-radius-sm

        &:disabled
            pointer-events: none
            opacity: 0.5
