.table-responsive
    overflow-x: auto
    -webkit-overflow-scrolling: touch
    -ms-overflow-style: -ms-autohiding-scrollbar
    position: relative

.table
    clear: both
    max-width: none
    width: 100% !important
    margin: 0 !important
    font-weight: 600
    vertical-align: middle !important

    thead
        vertical-align: bottom
        text-transform: uppercase !important
        color: #99A1B7 !important
        font-size: 12.35px

        tr
            th
                padding: 13px 0
                text-align: start
                border-bottom: 1px dashed $color-utility-outline

                @media (max-width: 767px)
                    font-size: 11.4px

    tbody
        tr
            font-size: 13.975px
            td
                padding: 13px 9.750px
                text-align: start
                height: 61px
                border-bottom: 1px dashed $color-utility-outline

                @media (max-width: 767px)
                    height: 57px !important
                    font-size: 12.9px

                &:first-child
                    padding-left: 0

                &:last-child
                    padding-right: 0

