.table
    display: flex
    flex-direction: column
    width: 100%
    border-radius: 2px
    border-top: 1px solid $border-color
    border-bottom: 1px solid $border-color
    margin-bottom: 16px
    height: 100%

    .table-header
        display: flex
        align-items: center
        padding: 0 8px
        border-bottom: 1px solid $border-color
        height: 41px
        background-color: $background-secondary-color

        .header-cell
            align-items: center
            justify-content: center
            gap: 8px
            flex: 1
            font-size: 14px
            line-height: 20px
            letter-spacing: 0.1px
            color: $text-color
            font-weight: 500
            font-family: $font-family
            height: auto
            display: flex

            &.sortable,
            &.sorting
                cursor: pointer

                &:hover
                    background-color: $background-secondary-color

            &.sorting
                background-color: $background-secondary-color

                .sort-icon
                    display: flex
                    color: $text-color

            .material-symbols-rounded
                font-size: 16px

    .table-row
        display: flex
        flex-direction: row
        align-items: center
        gap: 8px
        padding: 0 8px
        background-color: white
        transition: background-color 0.2s ease
        border-bottom: 1px solid $border-color

        &:hover
            background-color: $background-primary-color

        &:active
            background-color: $background-primary-color

        .table-cell
            display: flex
            flex-direction: row
            align-items: center
            gap: 8px
            flex: 1
            font-size: 14px
            line-height: 20px
            letter-spacing: 0.1px
            color: $text-color
            font-weight: 500
            font-family: $font-family

            .material-symbols-rounded
                font-size: 16px

.paginator
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-end
    gap: 8px
    padding: 12px 16px
    background-color: white
    border-top: 2px solid $border-color

    .paginator-controls
        display: flex
        flex-direction: row
        align-items: center
        gap: 8px

@media screen and (max-width: 768px)
    .table
        .table-header

            .header-cell
                font-size: 12px
                line-height: 16px

        .table-row
            .table-cell
                font-size: 12px
                line-height: 16px
                gap: 0

    .paginator
        flex-direction: column
        align-items: flex-start
        justify-content: initial
        padding: 8px

        .paginator-text
            font-size: 12px
            line-height: 16px
            color: $text-color
            font-weight: 500
            font-family: $font-family
            margin-bottom: 8px

        .paginator-controls

            .btn
                height: 24px
                padding: 2px 8px
