.tabs-container
    display: flex
    flex-wrap: wrap
    padding: 0
    list-style: none
    align-items: stretch

    .tab
        display: flex
        padding: .5rem 0
        margin: 0 1rem
        align-items: center
        gap: 8px
        font-size: 16px
        cursor: pointer
        transition: all 0.2s ease-in-out
        border-bottom: 2px solid transparent
        color: $color-surface-variant
        font-weight: 600

        &:hover
            border-color: $color-primary

        &.active
            color: $color-primary
            border-color: $color-primary
