.display-lg
    font-family: $font-family
    font-size: 57px
    font-style: normal
    font-weight: 400
    line-height: 64px
    letter-spacing: -0.25px

.display-md
    font-family: $font-family
    font-size: 45px
    font-style: normal
    font-weight: 400
    line-height: 52px

.display-sm
    font-family: $font-family
    font-size: 36px
    font-style: normal
    font-weight: 400
    line-height: 44px

.headline-lg
    font-family: $font-family
    font-size: 32px
    font-style: normal
    font-weight: 400
    line-height: 40px

.headline-md
    font-family: $font-family
    font-size: 28px
    font-style: normal
    font-weight: 400
    line-height: 36px

.headline-sm
    font-family: $font-family
    font-size: 24px
    font-style: normal
    font-weight: 400
    line-height: 32px

.title-lg
    font-family: $font-family
    font-size: 22px
    font-style: normal
    font-weight: 400
    line-height: 28px

.title-md
    font-family: $font-family
    font-size: 16px
    font-style: normal
    font-weight: 500
    line-height: 24px
    letter-spacing: 0.15px

.title-sm
    font-family: $font-family
    font-size: 14px
    font-style: normal
    font-weight: 500
    line-height: 20px
    letter-spacing: 0.1px

.label-lg
    font-family: $font-family
    font-size: 14px
    font-style: normal
    font-weight: 500
    line-height: 20px
    letter-spacing: 0.1px

.label-md
    font-family: $font-family
    font-size: 12px
    font-style: normal
    font-weight: 500
    line-height: 16px
    letter-spacing: 0.5px

.label-sm
    font-family: $font-family
    font-size: 11px
    font-style: normal
    font-weight: 500
    line-height: 16px
    letter-spacing: 0.1px

.body-lg
    font-family: $font-family
    font-size: 16px
    font-style: normal
    font-weight: 400
    line-height: 24px
    letter-spacing: 0.5px

.body-md
    font-family: $font-family
    font-size: 14px
    font-style: normal
    font-weight: 400
    line-height: 20px
    letter-spacing: 0.25px

.body-sm
    font-family: $font-family
    font-size: 12px
    font-style: normal
    font-weight: 400
    line-height: 16px

.font-bold
    font-weight: 700 !important
    font-family: $font-family
.font-regular
    font-weight: 400 !important
    font-family: $font-family
.font-medium
    font-weight: 500 !important
    font-family: $font-family


.primary-color
    color: $primary-color

.secondary-color
    color: $background-secondary-color
