.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
    margin-top: 0
    margin-bottom: 0.5rem
    font-weight: 600
    line-height: 1.2
    color: var(--color-on-surface)

.h1, h1
    font-size: calc(1.3rem + .6vw)
.h2, h2
    font-size: calc(1.275rem + .3vw)
.h3, h3
    font-size: calc(1.26rem + .12vw)
.h4, h4
    font-size: 1.25rem
.h5, h5
    font-size: 1.15rem
.h6, h6
    font-size: 1.075rem

.fs-1
    font-size: 18px !important
.fs-2
    font-size: 16.5px !important
.fs-3
    font-size: 15.5px !important
.fs-4
    font-size: 15px !important
.fs-5
    font-size: 13px !important
.fs-6
    font-size: 12px !important


@media (min-width: 1200px)
    .h1, h1
        font-size: 1.75rem
    .h2, h2
        font-size: 1.5rem
    .h3, h3
        font-size: 1.35rem
    .fs-1
        font-size: 22.75px !important
    .fs-2
        font-size: 19.5px !important
    .fs-3
        font-size: 17.5px !important
    .fs-4
        font-size: 16.25px !important
    .fs-5
        font-size: 15px !important
    .fs-6
        font-size: 13.9px !important

.fw-bolder
    font-weight: 700 !important
.fw-bold
    font-weight: 600 !important
.fw-semibold,
.fw-medium
    font-weight: 500 !important
.fw-normal
    font-weight: 400 !important
.fw-light
    font-weight: 300 !important

.primary-color
    color: var(--color-primary)

.color-secondary
    color: var(--color-secondary)

.fa-duotone
    font-family: "Font Awesome 6 Duotone" !important
.fasr
    font-family: "Font Awesome 6 Sharp" !important
.far,
.fa-regular
    font-family: "Font Awesome 6 Pro" !important
.fas
    font-family: "Font Awesome 6 Solid" !important
