.display1
    font-family: $font-family
    font-weight: 400
    font-size: 64px
    line-height: 76px
    letter-spacing: -0.5px

.display2
    font-family: $font-family
    font-weight: 400
    font-size: 57px
    line-height: 64px
    letter-spacing: -0.25px

.display3
    font-family: $font-family
    font-weight: 400
    font-size: 45px
    line-height: 52px

.headline1
    font-family: $font-family
    font-weight: 400
    font-size: 36px
    line-height: 44px

.headline2
    font-family: $font-family
    font-weight: 400
    font-size: 32px
    line-height: 40px

.headline3
    font-family: $font-family
    font-weight: 400
    font-size: 28px
    line-height: 36px

.headline4
    font-family: $font-family
    font-weight: 400
    font-size: 24px
    line-height: 32px

.headline5
    font-family: $font-family
    font-weight: 400
    font-size: 22px
    line-height: 28px

.headline6
    font-family: $font-family
    font-weight: 400
    font-size: 18px
    line-height: 24px

.subhead1
    font-family: $font-family
    font-weight: 500
    font-size: 16px
    line-height: 24px
    letter-spacing: 0.1px

.subhead2
    font-family: $font-family
    font-weight: 500
    font-size: 14px
    line-height: 20px
    letter-spacing: 0.1px

.font-light
    font-family: $font-family
    font-weight: 300
.font-regular
    font-family: $font-family
    font-weight: 400
.font-medium
    font-family: $font-family
    font-weight: 500
.font-bold
    font-family: $font-family
    font-weight: 700
.font-black
    font-family: $font-family
    font-weight: 900

.primary-color
    color: $primary-color

.secondary-color
    color: $background-secondary-color
