@if (user && !loading) {
    <nav class="py-2 px-3">
        <div class="flex align-items-center gap-4">
            <a class="logo-container gap-2" [routerLink]="['/']" [routerLinkActive]="'active'">
                <img ngSrc="assets/images/logo.png" alt="Logo" height="177" width="193"/>
                <h1 class="logo-text">Material Design</h1>
            </a>

            <p-select [options]="projects" [(ngModel)]="selectedProject" optionLabel="name" class="w-13rem" (onChange)="updateSelectedProject($event)">
                <ng-template #footer>
                    <div class="p-2 border-top">
                        <button class="btn btn-text w-full">
                            <i class="material-symbols-rounded">add</i>
                            Create project
                        </button>
                    </div>
                </ng-template>
            </p-select>

            <button class="btn btn-filled" (click)="taskModalComponent.show()" ripple>
                Create
            </button>

            @if (selectedProject != null) {
                <div class="flex align-items-center gap-2">
                    <a class="nav-link" ripple [routerLink]="['/projects/' + this.selectedProject!.id + '/summary']" [routerLinkActive]="'active'">
                        <i class="material-symbols-rounded">dashboard</i>
                        Summary
                    </a>
                    <a class="nav-link" ripple [routerLink]="['/projects/' + this.selectedProject!.id + '/board']" [routerLinkActive]="'active'">
                        <i class="material-symbols-rounded">calendar_view_week</i>
                        Board
                    </a>
                    <a class="nav-link" ripple [routerLink]="['/projects/' + this.selectedProject!.id + '/list']" [routerLinkActive]="'active'">
                        <i class="material-symbols-rounded">list</i>
                        List
                    </a>
                </div>
            }
        </div>

        <div class="flex align-items-center gap-5">
            <app-user-menu [user]="user"></app-user-menu>
        </div>
    </nav>

    <app-project-modal #projectModalComponent></app-project-modal>
    <app-task-modal #taskModalComponent></app-task-modal>
}
