main
    display: flex
    flex-direction: column
    height: calc(var(--vh, 1vh) * 100)
    min-height: calc(100vh - 64px)
    overflow-y: auto
    -webkit-overflow-scrolling: touch
    padding-left: 100px
    padding-top: 64px

// mobile
@media screen and (max-width: 768px)
    main
        margin-left: 75px
        padding: 16px
        overflow: auto
