main
    margin: 24px
    padding: 24px 16px
    margin-left: 275px
    overflow: hidden
    border-radius: 16px
    background-color: #1E293B

// mobile
@media screen and (max-width: 768px)
    main
        margin-left: 75px
        padding: 16px
        overflow: auto
