<nav class="sidebar">
    <div class="nav-rail-content">
        <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="user"
            [classList]="hovered ? 'hovered section-link': 'section-link'"
            (mouseover)="onHoverSection();loadSectionLinks()">
            <span class="material-symbols-rounded">overview_key</span>
            <div class="label">Dashboard</div>
        </a>
        <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="!user"
            [classList]="hovered ? 'hovered section-link': 'section-link'" (mouseover)="onHoverSection();">
            <span class="material-symbols-rounded">login</span>
            <div class="label">Login</div>
        </a>
        <a routerLink="/auth/register" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="!user"
            [classList]="hovered ? 'hovered section-link': 'section-link'" (mouseover)="onHoverSection();">
            <span class="material-symbols-rounded">person_add</span>
            <div class="label">Register</div>
        </a>
    </div>
</nav>

<navigation-drawer [sectionLinks]="drawerSectionLinks" [open]="hovered"
    (closeDrawer)="hovered = false"></navigation-drawer>
