<nav>
    <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">
        <span class="material-symbols-rounded mr-2">overview_key</span>
        <span class="font-medium text-base hidden md:block">Dashboard</span>
    </a>
    <div class="sublinks">
        <a (click)="navigateTo(project.id)"
            [classList]="project.id === currentProjectId ? 'cursor-pointer active sublink' : 'cursor-pointer sublink'"
            routerLinkActive="active" ariaCurrentWhenActive="page" class="sublink" *ngFor="let project of projects">
            <span class="material-symbols-rounded mr-2">view_kanban</span>
            <span class="font-medium text-base hidden md:block">{{project.title}}</span>
        </a>
    </div>
</nav>
