
$primary-color: #568FD9

nav
  background-color: #000000
  height: 100%
  position: fixed
  top: 0
  left: 0
  width: 250px
  z-index: 1
  padding: 24px 16px

  header
    padding: 24px
    margin-bottom: 24px

    h1
      margin: 0
      font-size: 24px
      font-weight: 600
      font-family: 'Roboto', sans-serif

  .sublinks
    margin-left: 28px
    position: relative

    &::before
      content: ''
      display: block
      width: 2px
      height: 100%
      background-color: #252525
      position: absolute
      left: -12px
      top: 0
      z-index: -1

  a
    text-decoration: none
    background-color: transparent
    color: #505050
    font-weight: 600
    padding: 6px 8px
    font-size: 14px
    border-radius: 6px
    display: flex
    align-items: center
    transition: background-color 0.2s ease

    .material-icons
      font-size: 16px

    &:hover
      background-color: #1C1E1F

    &.active
      background-color: #1C1E1F
      color: white

    &.sublink
      margin-top: 4px
      padding: 6px 4px
      position: relative

      &::before
        content: ''
        display: block
        width: 8px
        height: 2px
        background-color: #252525
        position: absolute
        left: -12px
        top: 50%
