<form #columnCreateForm="ngForm"
      class="border-round-md bg-primary-light py-2 px-2 pl-4 flex align-items-center justify-content-center gap-1 w-full">
    <input
        type="text"
        name="columnName"
        class="bg-transparent border-none w-full shadow-none p-0"
        [(ngModel)]="columnName"
        autofocus>
    <i class="material-symbols-outlined color-primary cursor-pointer text-lg"
       (click)="createColumn()" (window:keypress)="onKeyPress($event)">check_box</i>
</form>
