<p-dialog header="Task" [modal]="false" [(visible)]="showModal" [position]="'bottomright'" [style]="{ width: '30rem' }"
          [draggable]="false">
    <ng-template #header>
        <h3 class="poppins-medium">Create task</h3>
    </ng-template>
    <form #taskForm="ngForm">
        <div class="flex flex-column gap-1 mb-4">
            <label for="project" class="poppins-semibold">Project</label>
            <p-select id="project" [name]="'project'" [options]="projects" [(ngModel)]="selectedProject"
                      optionLabel="name" [required]="true"
                      class="w-full"></p-select>
        </div>
        <div class="grid">
            <div class="col-6">
                <div class="flex flex-column gap-1 mb-4">
                    <label for="status" class="poppins-semibold">Status</label>
                    <p-select id="status" [name]="'status'" [options]="statusArray" [(ngModel)]="task.status"
                              class="w-full" [required]="true"></p-select>
                </div>
            </div>
            <div class="col-6">
                <div class="flex flex-column gap-1 mb-4">
                    <label for="dueDate" class="poppins-semibold">Due date</label>
                    <p-datePicker appendTo="body" [showButtonBar]="true" id="dueDate" [name]="'dueDate'"
                                  [showIcon]="true"
                                  [(ngModel)]="dueDate"></p-datePicker>
                </div>
            </div>
        </div>
        <div class="flex flex-column gap-1 mb-4">
            <label for="summary" class="poppins-semibold">Summary</label>
            <input pInputText id="summary" name="summary" class="w-full" [(ngModel)]="task.name" autocomplete="off"
                   required/>
        </div>
        <div class="flex flex-column gap-1 mb-4">
            <label for="description" class="poppins-semibold">Description</label>
            <p-editor id="description" [id]="'description'" [name]="'description'" [(ngModel)]="task.description"
                      [style]="{ height: '150px' }"/>
        </div>
    </form>
    <ng-template #footer>
        <div class="flex justify-content-end">
            <button class="btn btn-filled" ripple type="submit" (click)="save()">
                <i class="material-symbols-rounded">save</i>
                Create
            </button>
        </div>
    </ng-template>
</p-dialog>
