<h2>
    Summary
</h2>

<div class="grid mt-3">
    <div class="col-12 md:col-3">
        <p-card>
            <ng-template #content>
                <strong>{{ getFinishedTasks() }} finished</strong>
            </ng-template>
        </p-card>
    </div>
    <div class="col-12 md:col-3">
        <p-card>
            <ng-template #content>
                <strong>{{ getUnfinishedTasks() }} unfinished</strong>
            </ng-template>
        </p-card>
    </div>
    <div class="col-12 md:col-3">
        <p-card>
            <ng-template #content>
                <strong>{{ project.tasks.length }} created</strong>
            </ng-template>
        </p-card>
    </div>
    <div class="col-12 md:col-3">
        <p-card>
            <ng-template #content>
                <strong>{{ getTasksWithDueDatePassed() }} overdue</strong>
            </ng-template>
        </p-card>
    </div>
</div>
