@if (showModal) {
    <div class="modal-container">
        <div class="overlay" (click)="close()"></div>
        <form #projectForm="ngForm" (ngSubmit)="save()" class="modal modal-md">
            <header class="modal-header">
                <div class="flex align-items-center gap-3">
                    <strong class="text-lg">
                        {{ edit ? 'Edit project' : 'New project' }}
                    </strong>
                </div>

                <button class="btn-icon btn-text" type="button" ripple (click)="close()">
                    <i class="material-symbols-outlined">close</i>
                </button>
            </header>

            <div class="modal-body">
                <div class="form-control">
                    <label for="name">
                        Project name
                    </label>
                    <input type="text" id="name" name="name" [(ngModel)]="project.name" (ngModelChange)="generateProjectCode()" required>
                    <div class="input-bar"></div>
                </div>
                <div class="form-control">
                    <label for="code">
                        Project code
                    </label>
                    <input type="text" id="code" name="code" [(ngModel)]="project.code" (ngModelChange)="project.code = project.code.toUpperCase()" required>
                    <div class="input-bar"></div>
                </div>
            </div>

            <footer class="modal-footer">
                <button class="btn btn-outlined" type="button" ripple (click)="close()">
                    <i class="material-symbols-outlined">close</i>
                    Cancel
                </button>
                <button type="submit" class="btn btn-filled" ripple [disabled]="!projectForm.form.valid">
                    <i class="material-symbols-outlined">save</i>
                    {{ edit ? 'Save changes' : 'Create project' }}
                </button>
            </footer>
        </form>
    </div>
}
