$bg-color: #241F1B
$bg-color-secondary: #2C2B29
$primary-color: #4CC2FF
$primary-color-hover: #48B2E9
$primary-color-active: #45A4D5

$secondary-color: #373737
$secondary-color-hover: #434343
$secondary-color-active: #383837
$secondary-color-dark: #2C2823

$warning-color: #FFB900
$warning-color-hover: #FFC94D
$danger-color: #F25022
$danger-color-hover: #F4714B

$border-color: #1E1D1B
$border-primary-color: #4CC2FF
$text-color: #ffffff
$text-secondary: #85C8D8

$font-family: 'Readex Pro', sans-serif

body
    font-family: $font-family
    background-color: $bg-color
    color: $text-color
    margin: 0

::-webkit-scrollbar
    width: 5px
    height: 5px
    border-radius: 5px 5px 5px 5px

/* Track */
::-webkit-scrollbar-track
    background: transparent
    border-radius: 5px 5px 5px 5px

/* Handle */
::-webkit-scrollbar-thumb
    background: #9F9F9F
    border-radius: 5px 5px 5px 5px

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
    background: #9F9F9F

.text-color
    color: $text-color !important
.text-secondary
    color: $text-secondary !important
.text-primary
    color: $primary-color !important

.bg-color
    background-color: $bg-color !important
.bg-primary
    background-color: $primary-color !important
.bg-secondary
    background-color: $secondary-color !important

@import 'sass-components/typography'
@import 'sass-components/dialog'
@import 'sass-components/buttons'
@import 'sass-components/menu'
@import 'sass-components/scaffolder'
@import 'sass-components/inputs'
@import 'sass-components/card'
@import 'sass-components/tabs'
