$bg-color: #0F172B
$bg-color-secondary: #1E293C
$primary-color: #94C4FA
$primary-color-hover: #9fc9f8
$primary-color-active: #89baf1

$secondary-color: #F5F7F9
$secondary-color-hover: #f5f7f9
$secondary-color-active: #f5f7f9
$secondary-color-dark: #F4F6F8

$warning-color: #F9D660
$warning-color-hover: #FDF9EC
$danger-color: #FA5056
$danger-color-hover: #FB7B77

$border-color: #F3F3F4
$text-color: #ffffff
$text-secondary: #B5B7BE

$font-family: 'Readex Pro', sans-serif

body
    font-family: $font-family
    background-color: $bg-color
    color: $text-color
    margin: 0
    overflow: hidden

::-webkit-scrollbar
    width: 4px
    height: 4px
    border-radius: 5px 5px 5px 5px

/* Track */
::-webkit-scrollbar-track
    background: transparent
    border-radius: 5px 5px 5px 5px

/* Handle */
::-webkit-scrollbar-thumb
    background: #334155
    border-radius: 5px 5px 5px 5px

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
    background: #334155

.text-color
    color: $text-color !important
.text-secondary
    color: $text-secondary !important
.text-primary
    color: $primary-color !important

.bg-color
    background-color: $bg-color !important
.bg-primary
    background-color: $primary-color !important
.bg-secondary
    background-color: $secondary-color !important

@import 'sass-components/typography'
@import 'sass-components/dialog'
@import 'sass-components/buttons'
@import 'sass-components/scaffolder'
@import 'sass-components/inputs'
@import 'sass-components/card'
@import 'sass-components/tabs'
