.drag-placeholder {
    background: #93C5FD;
    width: 100%;
    height: 2px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    margin: 16px 0;
}

.task-list.cdk-drop-list-dragging .task-card:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
