<div class="surface-0" style="width: 100%; height: 100vh; border: 1px solid #eeeeee; border-radius: 8px;">
    <ngx-graph
        class="chart-container"
        [showMiniMap]="true"
        [links]="graphLinks"
        [nodes]="graphNodes"
        layout="dagre"
    >
        <ng-template #defsTemplate>
            <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="20" markerHeight="4"
                        orient="auto">
                <svg:path fill="#6C757D" d="M0,-5L10,0L0,5" class="arrow-head"/>
            </svg:marker>
            // This is the circle marker with bg white and border black
            <svg:marker id="circle" viewBox="0 -5 10 10" refX="5" refY="0" markerWidth="10" markerHeight="10"
                        orient="auto">
                <svg:circle stroke="#92989C" stroke-width="0.5" fill="white" cx="5" cy="0" r="3" class="arrow-head"/>
            </svg:marker>
        </ng-template>

        <ng-template #nodeTemplate let-node>
            <svg class="node">
                <rect
                    [attr.width]="node.dimension.width"
                    [attr.height]="node.dimension.height"
                    [attr.fill]="'transparent'"
                    [attr.x]="5"
                    [attr.y]="5"
                />
                <foreignObject class="overflow-y-auto surface-0 border-primary border-round" [style]="{height: node.dimension.height, width: node.dimension.width}" x="0" y="0">
                    <header class="w-100 p-2 px-3 bg-primary">
                        <span class="fs-6">{{node.label}}</span>
                    </header>
                    <div xmlns="http://www.w3.org/1999/xhtml" class="p-3">
                        <p-dropdown [options]="cities" appendTo="body" [(ngModel)]="selectedCity" [optionLabel]="'name'" [optionValue]="'code'"></p-dropdown>
                    </div>
                </foreignObject>
            </svg>
        </ng-template>

        <ng-template #linkTemplate let-link>
            <svg:g class="edge">
                <svg:path class="line" stroke-width="2" stroke="#A2A7AB" marker-start="url(#circle)" marker-end="url(#arrow)"></svg:path>
            </svg:g>
        </ng-template>
    </ngx-graph>
</div>
